# project commons
.gitkeep
.*rc
.*ignore
.editorconfig

LICENSE
CNAME

Gemfile

renovate.json

## IntelliJ
.idea

## common lock file
*.lock

# project specifics
## api has JSON with Front Matter
api/

# we wanna write HTML freedom
*.html

# Not Supported Files
## images
*.png
*.jpg
*.ico
## XML
*.xml
## PlantUML
*.puml
## SASS
*.sass
