# project commons
## dotfiles
.gitkeep
.*rc
.*ignore
.editorconfig

## GitHub
LICENSE
CNAME

## Ruby
Gemfile
vendor/
.bundle/

## Jekyll
.cache/
_site/

## CI / CD
renovate.json

## IntelliJ
.idea/

## common lock file
*.lock

# project specifics
## static api responses
api/
### minimatch bug; ファイル名にマルチバイト文字が含まれると、ディレクトリ名で ignore していても対象に入ってしまう
#_posts/
*.json
!_data/

# we wanna write HTML freedom
*.html

# Not Supported Files
## images
*.png
*.jpg
*.ico
## XML
*.xml
## PlantUML
*.puml
