---
layout: home
---
<script src="/button.js"></script>

<!-- ndxbn 2018-10-22 this comment is label to assert deploy -->
<!-- メインコンテンツよりも手前のレイヤーに表示するもの ここから -->
<button type="button" id="stop-button" class="fixed">とめる？</button>
<!-- メインコンテンツよりも手前のレイヤーに表示するもの ここまで -->

<br>

<header>
{% include header.html %}
</header>

<br>

{% include update-log.html %}
<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>バーチャルナース名取さなアクリルキーホルダー2019年4月27日発売！</b></span>
<br>
<button type="button" class="sounds" data-file="沼地の魔女こと名取さなですけども/アクキーが出ます">アクキーが出ます</button>
<button type="button" class="sounds" data-file="沼地の魔女こと名取さなですけども/2月4日予約開始">2月4日予約開始</button>
<button type="button" class="sounds" data-file="沼地の魔女こと名取さなですけども/チャイ名取">チャイ名取</button>
<button type="button" class="sounds" data-file="沼地の魔女こと名取さなですけども/丸わかりシルエット">丸わかりシルエット</button>
<button type="button" class="sounds" data-file="沼地の魔女こと名取さなですけども/隠す気／Zero">隠す気／Zero</button>
<button type="button" class="sounds" data-file="沼地の魔女こと名取さなですけども/コブラかもしれない">コブラかもしれない</button>
<button type="button" class="sounds" data-file="沼地の魔女こと名取さなですけども/立てたり引っ掛けたりして">立てたり引っ掛けたりして</button>

<p>ラインナップは<a href="https://twitter.com/sana_natori/status/1091650055780499456">こちらから確認してね</a></p>

<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>名取さな公式同人誌「薄そうで薄くない本」2019年2月27日発売！</b></span>
<br>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/2月27日名取さな公式同人誌発売！">2月27日名取さな公式同人誌発売！</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/店舗特典">店舗特典</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/お胸にメロン">お胸にメロン</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/電撃文庫ヒロインコス">電撃文庫ヒロインコス</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/良きものを選んで">良きものを選んで</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/電撃屋はさらに音声も付く">電撃屋はさらに音声も付く</button>
<button type="button" class="sounds" data-file="せんせえがバーチャルさんを見ている時バーチャルさんもまた以下略/チョイスが古い">チョイスが古い</button>
<button type="button" class="sounds" data-file="せんせえがバーチャルさんを見ている時バーチャルさんもまた以下略/メロン詰め">メロン詰め</button>
<button type="button" class="sounds" data-file="せんせえがバーチャルさんを見ている時バーチャルさんもまた以下略/アへメロン">アへメロン</button>
<button type="button" class="sounds" data-file="せんせえがバーチャルさんを見ている時バーチャルさんもまた以下略/でじこ様">でじこ様</button>
<button type="button" class="sounds" data-file="せんせえがバーチャルさんを見ている時バーチャルさんもまた以下略/アニメ店長">アニメ店長</button>
<button type="button" class="sounds" data-file="せんせえがバーチャルさんを見ている時バーチャルさんもまた以下略/とらのあなはねこちゃんせんせえも">とらのあなはねこちゃんせんせえも</button>
<button type="button" class="sounds" data-file="せんせえがバーチャルさんを見ている時バーチャルさんもまた以下略/さな本特典イラスト全部掲載">さな本特典イラスト全部掲載</button>
<button type="button" class="sounds" data-file="せんせえがバーチャルさんを見ている時バーチャルさんもまた以下略/インタビュー完全掲載">インタビュー完全掲載</button>
<button type="button" class="sounds" data-file="せんせえがバーチャルさんを見ている時バーチャルさんもまた以下略/新規コミックも掲載">新規コミックも掲載</button>
<button type="button" class="sounds" data-file="せんせえがバーチャルさんを見ている時バーチャルさんもまた以下略/担当さんがどうしてもやりたかった">担当さんがどうしてもやりたかった</button>
<button type="button" class="sounds" data-file="せんせえがバーチャルさんを見ている時バーチャルさんもまた以下略/名取さなの香りつきペーパー">名取さなの香りつきペーパー</button>
<button type="button" class="sounds" data-file="せんせえがバーチャルさんを見ている時バーチャルさんもまた以下略/名取の推しVTuberコーナー">名取の推しVTuberコーナー</button>
<button type="button" class="sounds" data-file="せんせえがバーチャルさんを見ている時バーチャルさんもまた以下略/迫真2月27日">迫真2月27日</button>

<p>書店特典イラストまとめは<a href="https://twitter.com/sana_natori/status/1083334033671507968">こちらから確認してね</a></p>
<p>各書店の予約・購入は<a href="http://maoh.dengeki.com/blog/archives/10616">こちらからリンクをたどってね</a></p>

<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>ば～ちゃるな～す名取さなフィギュア化決定！</b></span>
<br>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/名取さなフィギュア化決定！">名取さなフィギュア化決定！</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/（下から見れますよ）">（下から見れますよ）</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/（下から見れます）">（下から見れます）</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/ワンフェスまでには原型見れる">ワンフェスまでには原型見れる</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/続報を待て">続報を待て</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/しばし待て">しばし待て</button>

<p><a href="https://twitter.com/wanderer1127">わんだらー様のTwitterはこちら</a></p>

<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>電撃マオウ12月号からコミック連載決定！</b></span>
<br>
<button type="button" class="sounds" data-file="地獄のセリフリクエスト配信/電撃マオウ12月号からコミック掲載！2">電撃マオウ12月号から計3回、コミックの掲載が決定です！</button>
<button type="button" class="sounds" data-file="たのしいハロウィンだナース/電撃マオウ12月号告知">電撃マオウ12月号告知</button>

<p>アマゾンへのリンク：
  <a href="https://www.amazon.co.jp/dp/B07HSJW7G7">12月号</a>　
  <a href="https://www.amazon.co.jp/dp/B07K147LTW">1月号</a>　
  <a href="https://www.amazon.co.jp/dp/B07KZHVHF8">2月号</a>　
  
</p>
{% include contents.html %}

<hr style="margin: 1em 0 ;">
<div><a href="javascript:scroll({ top: 0, left: 0, behavior:'smooth'})">ページのトップへ戻る</a></div>

<footer>
{% include footer.html %}
</footer>
