---
layout: home
---
<script src="/button.js"></script>

<!-- ndxbn 2018-10-22 this comment is label to assert deploy -->
<!-- メインコンテンツよりも手前のレイヤーに表示するもの ここから -->
<button type="button" id="stop-button" class="stop-button">とめる？</button>
<div class="go-to-article-index"><a href="#article-index">配信の一覧へ</a></div>
<!-- メインコンテンツよりも手前のレイヤーに表示するもの ここまで -->

<br>

<header>
{% include header.html %}
</header>

<a href="https://twitter.com/share" class="twitter-share-button" data-text="すこ！　#さなボタン" data-url="https://www.natorisana.love/" data-lang="ja">
  Tweet
</a>
<br>

<table class="linktable">
  <tr>
    <th>オマージュ<br>素敵なボタンサイト様</th>
  <tr>
    <td><a href="http://ushiumi.ichiya-boshi.net/">宇志海ボタン</a>様
  <tr>
    <td><a href="http://tsukino-mito.extrem.ne.jp/">美兎ボタン</a>様
  <tr>
    <td><a href="https://rimumaki.clocknote.net">りむとまきボタン</a>様
  <tr>
    <td><a href="http://inabagumi.sakura.ne.jp/">はねるボタン(2)</a>様
  <tr>
    <td><a href="/odanobu/">タロ耳又ボタン</a>様
</table>

<br>

{% include update-log.html %}
<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>「PINK,ALL,PINK！」楽曲配信開始！！</b></span>
<br>
<iframe max-width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/DHirTqvmpM4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
  <a href="https://linktr.ee/natorisana_PAP">DLリンクまとめはこちら</a>
  <a href="https://www.mouse-jp.co.jp/creator/ss/daiv/case_study/sana-natori_pink.html">MV特設ページはこちら</a>
  <a href="https://www.youtube.com/watch?v=uCX4gYySRUU">メイキング映像はこちら</a>
</p>

<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>アニメディア2020年6月号に名取さな特集記事掲載！</b></span>
<br>
<p>
  <a href="https://twitter.com/iid_animedia/status/1258694337581346821">公式Twitterはこちら</a>
  <a href="https://www.amazon.co.jp/dp/B086SJT8J7/ref=cm_sw_r_tw_dp_U_x_6tNUEbBRJQBYQ">Amazonはこちら</a>
</p>

<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>名取さな同人誌『3/7』付き電撃マオウ2020年6月号 4月27日発売！</b></span>
<br>
<button type="button" class="sounds" data-file="バーチャルサナトリウム方言部/電撃マオウ2020年6月号発売中">電撃マオウ2020年6月号発売中</button>
<button type="button" class="sounds" data-file="バーチャルサナトリウム方言部/宣伝（標準語）">宣伝（標準語）</button>
<p>
  <a href="https://twitter.com/dengeki_maoh/status/1234389246397468673">表紙と詳細はこちら</a>
  <a href="https://www.amazon.co.jp/dp/B086PRJPTZ/ref=cm_sw_r_tw_dp_U_x_9dAOEbNCQ3XWV">Amazonはこちら</a>
  <a href="https://www.gamers.co.jp/pn/%E3%80%90%E9%9B%91%E8%AA%8C%E3%80%91%E9%9B%BB%E6%92%83%E3%83%9E%E3%82%AA%E3%82%A6+2020%E5%B9%B46%E6%9C%88%E5%8F%B7/pd/10494510/">ゲーマーズはこちら</a>
</p>

<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>『名取さな』トレーディングラバーストラップ7月27日発売！</b></span>
<br>
<button type="button" class="sounds" data-file="オタク、女の子の被ダメボイス好きがち/ラバスト7／27発売！">ラバスト 7/27発売！</button>
<button type="button" class="sounds" data-file="オタク、女の子の被ダメボイス好きがち/バリエーション豊か">バリエーション豊か</button>
<p>
  <a href="https://dengekiya.com/shop/g/g4942330137031/"><s>予約はこちら（電撃屋購入特典：アクキー）</s> 予約終了しました</a>
</p>

<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>名取さな 公式同人誌 そこまで薄くはない本 7月27日発売！</b></span>
<br>
<button type="button" class="sounds" data-file="オタク、女の子の被ダメボイス好きがち/公式同人誌第2弾6／27発売！">公式同人誌第2弾発売！</button>
<button type="button" class="sounds" data-file="オタク、女の子の被ダメボイス好きがち/表紙：しぐれういせんせえ">表紙：しぐれういせんせえ</button>
<p>
  <span>↓予約はこちら（店舗別購入特典有り）</span>
  <br>
  <a href="https://dengekiya.com/shop/g/g4942330136638/">①電撃屋：「せんせえ」クリアファイル</a>
  <a href="https://www.gamers.co.jp/pn/%E3%80%90%E3%82%B0%E3%83%83%E3%82%BA-%E3%83%A0%E3%83%83%E3%82%AF%E3%80%91%E5%90%8D%E5%8F%96%E3%81%95%E3%81%AA+%E5%85%AC%E5%BC%8F%E5%90%8C%E4%BA%BA%E8%AA%8C+%E3%81%9D%E3%81%93%E3%81%BE%E3%81%A7%E8%96%84%E3%81%8F%E3%81%AF%E3%81%AA%E3%81%84%E6%9C%AC/pd/10493487/">②ゲーマーズ：イラストカード</a>
  <a href="https://ec.toranoana.shop/tora/ec/item/200012090694/">③とらのあな：ポストカード</a>
  <a href="https://www.melonbooks.co.jp/detail/detail.php?product_id=647957">④メロンブックス：イラストカード</a>
</p>

<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>MAURUN×名取さなコラボ配信中！</b></span>
<br>
<button type="button" class="sounds" data-file="2nd/MAURUN×名取さな">MAURUN×名取さな</button>
<button type="button" class="sounds" data-file="2nd/1000RTで制服スキン実装（当日達成）">1000RTで制服スキン実装（当日達成）</button>
<button type="button" class="sounds" data-file="2nd/ボイス付き500円">ボイス付き500円</button>
<button type="button" class="sounds" data-file="2nd/たくさんしゃべった">たくさんしゃべった</button>
<button type="button" class="sounds" data-file="2nd/配信でもやりたい">配信でもやりたい</button>
<button type="button" class="sounds" data-file="2nd/バーサナステージもある">バーサナステージもある</button>
<button type="button" class="sounds" data-file="2nd/被ダメボイス有り">被ダメボイス有り</button>
<p>
  <a href="https://7name.site/maurun.github.io/collabo/natorisana.html">特設サイトはこちら</a>
  <a href="https://unityroom.com/games/maurun">MAURUN無料版はこちら（BGM鳴ります）</a>
  <a href="https://7name.booth.pm/items/1550477">MAURUN有料版はこちら（500円）</a>
</p>

<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>『さなのおうた。』楽曲配信開始！</b></span>
<br>
<button type="button" class="sounds" data-file="性の6時間は名取と子作りしようよっ！2019/さなのおうた。配信開始！">さなのおうた。配信開始！</button>
<button type="button" class="sounds" data-file="性の6時間は名取と子作りしようよっ！2019/Spotifyもある">Spotifyもある</button>
<p>
  <a href="https://music.apple.com/jp/album/%E3%81%95%E3%81%AA%E3%81%AE%E3%81%8A%E3%81%86%E3%81%9F-single/1490088141">Apple Music/iTunesはこちら</a>
  <a href="https://open.spotify.com/album/2hRbK2th3yOuwrKSUV2LTv">Spotifyはこちら</a>
  <a href="https://play.google.com/store/music/album?id=Bixi2p3tciazqbpzwtzw5sfmpqe">Google Playはこちら</a>
</p>
      
<p>
  <a href="https://linktr.ee/natori_sana">DLリンクまとめはこちら</a>
  <a href="https://www.youtube.com/watch?v=UADoH5n1RLM">さなのおうた。(YouTube)</a>
</p>

<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>『#名取さな ちゃん1/7スケールフィギュア』予約受付中！！</b></span>
<br>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/名取さなフィギュア化決定！">名取さなフィギュア化決定！</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/（下から見れますよ）">（下から見れますよ）</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/（下から見れます）">（下から見れます）</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/続報を待て">続報を待て</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/しばし待て">しばし待て</button>
<button type="button" class="sounds" data-file="台風くん！後生だから/販売されます">販売されます</button>
<button type="button" class="sounds" data-file="台風くん！後生だから/フィギュアそろそろらしい">フィギュアそろそろらしい</button>
<button type="button" class="sounds" data-file="台風くん！後生だから/生産を遅らせるアヘエビ">生産を遅らせるアヘエビ</button>
<button type="button" class="sounds" data-file="台風くん！後生だから/アヘエビを持たせたかった">アヘエビを持たせたかった</button>
<button type="button" class="sounds" data-file="台風くん！後生だから/量産だとアヘエビ持てない">量産だとアヘエビ持てない</button>
<button type="button" class="sounds" data-file="ザ・絵ンドってね/フィギュア発売">フィギュア発売</button>
<button type="button" class="sounds" data-file="ザ・絵ンドってね/フェイスパーツ2種付き">フェイスパーツ2種付き</button>
<button type="button" class="sounds" data-file="ザ・絵ンドってね/店舗特典有り">店舗特典有り</button>
<button type="button" class="sounds" data-file="ザ・絵ンドってね/造形：宮川武せんせえ">造形：宮川武せんせえ</button>
<p>
  <a href="https://www.amiami.jp/top/detail/detail?gcode=FIGURE-054527">あみあみはこちら（特典はアクリルストラップ）</a>
  <a href="https://www.gamers.co.jp/pn/pd/10476310/">ゲーマーズはこちら（特典はA3タペストリー）</a>
  <a href="https://www.suruga-ya.jp/product/detail/602185083">駿河屋はこちら（特典はラバーキーホルダー）</a>
</p>
<p>
  <a href="https://twitter.com/sana_natori/status/1197504578431832064">特典情報はこちら</a>
  <a href="https://twitter.com/wanderer1127">わんだらー様のTwitterはこちら</a>
</p>

<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>ば〜ちゃるな〜す名取さなLINEスタンプ第1弾販売中！</b></span>
<br>
<p><a href="https://t.co/6zv09p2Kgn">購入はこちら</a>（※LINE スタンプはしゃべりません）</p>
<span>※ボタンを押して再生はされますが、仮置きです。近い内に変更すると思います🙏</span>
<button type="button" class="sounds" data-file="おえかきカキカキでワロタｗ/おはようございナース">おはようございナース</button>
<button type="button" class="sounds" data-file="破壊のち創造ってワケでしてｗ/ニマァ">二マァ</button>
<button type="button" class="sounds" data-file="3D名取のﾌﾆｬﾗｶｻｷﾞｮｰﾊｲｼﾝ/やっていくわよ">やっていくわよ</button>
<button type="button" class="sounds" data-file="今日は9月31日/えーんえんえんおいおいおい">えーんえんえんおいおいおい</button>
<button type="button" class="sounds" data-file="バイノーラルテスト配信/押し掛け">メーターまわってますよ</button>
<button type="button" class="sounds" data-file="Let‘s GO！名取さな＃1/完全に理解した">完全に理解した</button>
<button type="button" class="sounds" data-file="首の長さを修正したことを懺悔してみた/何の話してたっけ">何の話してたっけ</button>
<button type="button" class="sounds" data-file="すこ/すこ04">すこすこのすこ</button>
<br>
<button type="button" class="sounds" data-file="3D名取のﾌﾆｬﾗｶｻｷﾞｮｰﾊｲｼﾝ/なで1">何で（なで）</button>
<button type="button" class="sounds" data-file="ハロウィンイベ蜜チューチューでワロタ/やっぴ～！">やっぴ～！</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/正解正解">正解正解正解</button>
<button type="button" class="sounds" data-file="ネコのさばきは突然にくる/僕もそう思いますにゃ">僕もそう思いますにゃ</button>
<button type="button" class="sounds" data-file="3D名取のﾎﾆｬﾎﾆｬﾄﾞﾛｰｲﾝｸﾞ/呼吸頑張ってる">呼吸頑張ってる</button>
<button type="button" class="sounds" data-file="れいや～ずおぶふぃあ～Part4/了解！やります！">了解</button>
<button type="button" class="sounds" data-file="破壊のち創造ってワケでしてｗ/売っちゃった2">売っちゃった</button>
<button type="button" class="sounds" data-file="Let‘s GO！限界オタク＃2/いいね！2">いいね！</button>
<button type="button" class="sounds" data-file="４まんにんってなんまんにん？/偉すぎぃ！">偉すぎぃ！</button>
<br>
<button type="button" class="sounds" data-file="めうから奪ったはんこでフェスやるめう。/キレちゃったね～">キレちゃったね～</button>
<button type="button" class="sounds" data-file="破壊のち創造ってワケでしてｗ/オエってしてくる">オエってしてくる</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/息切れナース02">ハァハァ</button>
<button type="button" class="sounds" data-file="つよつよPCチャレンジゲリラ/大変感謝しております">感謝</button>
<button type="button" class="sounds" data-file="破壊のち創造ってワケでしてｗ/賢くなったネ">賢くなったネ</button>
<button type="button" class="sounds" data-file="毎年カップル板クリスマスコピペを見てブチ切れていた女の配信/メリークリスマス2">クリスマス</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/マ？02">マァ〜？</button>
<button type="button" class="sounds" data-file="登録者2万人達成で泣く名取/マ！？">マ！？</button>
<br>
<button type="button" class="sounds" data-file="破壊のち創造ってワケでしてｗ/すまねぇ〜">すまねぇ〜</button>
<button type="button" class="sounds" data-file="LINEすたんぷをつくるふぁむふぁたる/はい・・・">はい・・・</button>
<button type="button" class="sounds" data-file="てね/てね03">ってね</button>
<button type="button" class="sounds" data-file="平成最後の配信だが礼はいらんゾｗってね/フリーズしたハムスター">フリーズしたハムスター</button>
<button type="button" class="sounds" data-file="Let‘s GO！メスガキ四天王序列三位/もう許さねえからな">許さねえ</button>
<button type="button" class="sounds" data-file="Let‘s GO！名取さな＃1/笑い声9">笑い声</button>
<button type="button" class="sounds" data-file="ヒーラー職だからです/おつかれさな〜">おつかれさな〜</button>

<!-- 過去のグッズや連載などは、 /events.html -->

{% include contents.html %}

<hr style="margin: 1em 0 ;">
{%- include go-to/top.html -%}

<div class="profile-container">
  <div class="profile-item profile-card">
    <img class="natori-sana-icon"
         src="https://yt3.ggpht.com/a/AATXAJz5HAB4IGdqp2OlwC7Q0TP8oj4id0R-JcaQYQ=s288-c-k-c0xffffffff-no-rj-mo"
         alt="名取さなのアイコン">
    <br>
    名取さな／<br>
    Sana Natori
    <br>
    <br>
    <a href="https://twitter.com/sana_natori"><img src="/images/Twitter.png" alt="Twitter アカウントへのリンク画像"></a>
    　
    <a href="https://www.youtube.com/channel/UCIdEIHpS0TdkqRkHL5OkLtA"><img src="/images/Youtube.png" alt="YouTube チャンネルへのリンク画像"></a>
    <br>
    <br>
    おはようございナース！🍆🍆🍆<br>
    17さいの新人バーチャルYouTuber<br>
    バーチャル地方 海の見える <br>
    バーチャルサナトリウムの新米ナース
  </div>

  <div class="profile-item">
    <a class="twitter-timeline" data-width="500" data-height="600" data-lang="ja"
       href="https://twitter.com/sana_natori?ref_src=twsrc%5Etfw">
      Tweets by sana_natori
    </a>
  </div>
</div>

<div id="article-index" class="article-index">
  {%- include go-to/top.html -%}
  <div>
    <ul>
      {%- for post in site.posts reversed -%}
      <li><a href="/#{{ post.id }}">{{ post.date | date: "%Y/%m/%d" }}: {{ post.slug }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>

<footer>
{% include footer.html %}
</footer>
