---
layout: home
---
<script src="/button.js"></script>

<!-- ndxbn 2018-10-22 this comment is label to assert deploy -->
<!-- メインコンテンツよりも手前のレイヤーに表示するもの ここから -->
<button type="button" id="stop-button" class="stop-button">とめる？</button>
<div class="go-to-article-index"><a href="#article-index">配信の一覧へ</a></div>
<!-- メインコンテンツよりも手前のレイヤーに表示するもの ここまで -->

<br>

<header>
{% include header.html %}
</header>

<a href="https://twitter.com/share" class="twitter-share-button" data-text="すこ！　#さなボタン" data-url="https://www.natorisana.love/" data-lang="ja">
  Tweet
</a>
<br>

<table class="linktable">
  <tr>
    <th>オマージュ<br>素敵なボタンサイト様</th>
  <tr>
    <td><a href="http://ushiumi.ichiya-boshi.net/">宇志海ボタン</a>様
  <tr>
    <td><a href="http://tsukino-mito.extrem.ne.jp/">美兎ボタン</a>様
  <tr>
    <td><a href="https://rimumaki.clocknote.net">りむとまきボタン</a>様
  <tr>
    <td><a href="http://inabagumi.sakura.ne.jp/">はねるボタン(2)</a>様
  <tr>
    <td><a href="/odanobu/">タロ耳又ボタン</a>様
</table>

<br>

{% include update-log.html %}

<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>名取さな単独イベント『さなのばくたん。』2020/3/7開催！</b></span>
<br>
<button type="button" class="sounds" data-file="性の6時間は名取と子作りしようよっ！2019/単独イベントやります！">単独イベントやります！</button>
<button type="button" class="sounds" data-file="性の6時間は名取と子作りしようよっ！2019/2020年3月7日（土）開催！">2020年3月7日（土）開催！</button>
<button type="button" class="sounds" data-file="性の6時間は名取と子作りしようよっ！2019/さなのばくたん。">さなのばくたん。</button>
<button type="button" class="sounds" data-file="性の6時間は名取と子作りしようよっ！2019/ファンミーティング的なやつ">ファンミーティング的なやつ</button>
<button type="button" class="sounds" data-file="性の6時間は名取と子作りしようよっ！2019/おうたあります">おうたあります</button>
<button type="button" class="sounds" data-file="性の6時間は名取と子作りしようよっ！2019/3月7日空けといて">3月7日空けといて</button>
<br>
<button type="button" class="sounds" data-file="漢字テスト：おまいら自重[　　　]汁ｗｗｗｗｗ/Powered_by_mouse">Powered by mouse</button>
<button type="button" class="sounds" data-file="漢字テスト：おまいら自重[　　　]汁ｗｗｗｗｗ/イオンシネマ港北ニュータウン">場所はイオンシネマ港北ニュータウン</button>
<button type="button" class="sounds" data-file="漢字テスト：おまいら自重[　　　]汁ｗｗｗｗｗ/第1部は17：00開場">第1部は17：00開場</button>
<button type="button" class="sounds" data-file="漢字テスト：おまいら自重[　　　]汁ｗｗｗｗｗ/第2部は19：30開場">第2部は19：30開場</button>
<button type="button" class="sounds" data-file="漢字テスト：おまいら自重[　　　]汁ｗｗｗｗｗ/1部と2部で若干内容違う">1部と2部で若干内容違う</button>
<button type="button" class="sounds" data-file="漢字テスト：おまいら自重[　　　]汁ｗｗｗｗｗ/フラスタ等の情報は後日">フラスタ等の情報は後日</button>
<button type="button" class="sounds" data-file="漢字テスト：おまいら自重[　　　]汁ｗｗｗｗｗ/キービジュロゴ：clocknoteせんせえ">キービジュロゴ：clocknoteせんせえ</button>
<button type="button" class="sounds" data-file="漢字テスト：おまいら自重[　　　]汁ｗｗｗｗｗ/内容について">内容について</button>
<button type="button" class="sounds" data-file="漢字テスト：おまいら自重[　　　]汁ｗｗｗｗｗ/サイリウムはピンク">サイリウムはピンク</button>
<br>
<button type="button" class="sounds" data-file="最強のケーキ作りする/ネット配信決定">ネット配信決定</button>
<button type="button" class="sounds" data-file="感情を取り戻したオタクの配信/一番大きいスクリーン借りた">一番大きいスクリーン借りた</button>
<button type="button" class="sounds" data-file="感情を取り戻したオタクの配信/ネチケ通し券ある">ネチケ通し券ある</button>
<button type="button" class="sounds" data-file="感情を取り戻したオタクの配信/ニコ生のコメント見れる">ニコ生のコメント見れる</button>
<button type="button" class="sounds" data-file="感情を取り戻したオタクの配信/タイムシフト1ヶ月見れる">タイムシフト1ヶ月見れる</button>
<button type="button" class="sounds" data-file="感情を取り戻したオタクの配信/ネチケ販売中！">ネチケ販売中！</button>
<button type="button" class="sounds" data-file="うるう年/コロナウイルス対策の払い戻しについて">コロナウイルス対策の払い戻しについて</button>
<button type="button" class="sounds" data-file="うるう年/来るせんせえは予防策を">来るせんせえは予防策を</button>
<button type="button" class="sounds" data-file="うるう年/全体デザイン：clocknoteせんせえ">全体デザイン：clocknoteせんせえ</button>
<button type="button" class="sounds" data-file="うるう年/グッズデザイン：ひなのせんせえ">グッズデザイン：ひなのせんせえ</button>
<button type="button" class="sounds" data-file="うるう年/クレカ決済できない">当日クレカ決済できない</button>
<button type="button" class="sounds" data-file="うるう年/在庫少ない">在庫少ない</button>
<button type="button" class="sounds" data-file="うるう年/通販検討中">通販検討中</button>
<button type="button" class="sounds" data-file="うるう年/楽屋花OK">楽屋花OK</button>
<br>
<button type="button" class="sounds" data-file="うるう年/グッズ①ぴかぴか棒">グッズ①ぴかぴか棒</button>
<button type="button" class="sounds" data-file="うるう年/4番目のピンクがメイン">4番目のピンクがメイン</button>
<button type="button" class="sounds" data-file="うるう年/棒を振るシーン有り">棒を振るシーン有り</button>
<button type="button" class="sounds" data-file="うるう年/グッズ②ばくたんT">グッズ②ばくたんT</button>
<button type="button" class="sounds" data-file="うるう年/サイズはM・L・XL">サイズはM・L・XL</button>
<button type="button" class="sounds" data-file="うるう年/グッズ③うさちゃんせんせえT">グッズ③うさちゃんせんせえT</button>
<button type="button" class="sounds" data-file="うるう年/横幅だけ1サイズ大きい">横幅だけ1サイズ大きい</button>
<button type="button" class="sounds" data-file="うるう年/サイズはL・XL">サイズはL・XL</button>
<button type="button" class="sounds" data-file="うるう年/グッズ④生誕記念タペストリー">グッズ④生誕記念タペストリー</button>
<button type="button" class="sounds" data-file="うるう年/【朗報】サーナくんグッズ化">サーナくんグッズ化</button>
<button type="button" class="sounds" data-file="うるう年/グッズ⑤シークレットタペストリー">グッズ⑤シークレットタペストリー</button>
<button type="button" class="sounds" data-file="うるう年/2部が終わってから共有して">2部が終わってから共有して</button>
<button type="button" class="sounds" data-file="うるう年/グッズ⑥マフラータオル">グッズ⑥マフラータオル</button>
<button type="button" class="sounds" data-file="うるう年/首に巻いてもロゴ見える">首に巻いてもロゴ見える</button>
<br>
<button type="button" class="sounds" data-file="うるう年/グッズ⑦生まれるとこ見てて缶バッジ">グッズ⑦生まれるとこ見てて缶バッジ</button>
<button type="button" class="sounds" data-file="うるう年/四角で作ってみた">四角で作ってみた</button>
<button type="button" class="sounds" data-file="うるう年/グッズ⑧ハート缶バッジ">グッズ⑧ハート缶バッジ</button>
<button type="button" class="sounds" data-file="うるう年/ハートのデザイン">ハートのデザイン</button>
<button type="button" class="sounds" data-file="うるう年/グッズ⑨メガネケース">グッズ⑨メガネケース</button>
<button type="button" class="sounds" data-file="うるう年/形状">形状について</button>
<button type="button" class="sounds" data-file="うるう年/グッズ⑩iPhoneケース">グッズ⑩iPhoneケース</button>
<button type="button" class="sounds" data-file="うるう年/ねこちゃんせんせえinダンボール">ねこちゃんせんせえinダンボール</button>
<button type="button" class="sounds" data-file="うるう年/グッズ⑪アクリルケース">グッズ⑪アクリルケース</button>
<button type="button" class="sounds" data-file="うるう年/中にアクスタ入る">中にアクスタ入る</button>
<button type="button" class="sounds" data-file="うるう年/名取は透けません">名取は透けません</button>
<button type="button" class="sounds" data-file="うるう年/グッズ⑫おくすり入れ入れケース">グッズ⑫おくすり入れ入れケース</button>

<p>
  <a href="https://twitter.com/sana_natori/status/1209508781068967936">【予定を空けて、詳細を待て！】</a>
  <a href="https://twitter.com/sana_natori/status/1218506342949765121">【キービジュアル解禁！】</a>
</p>
<p>
  <a href="https://bakutan.natorisana.com/">【特設サイトはこちら】</a>
  <a href="https://secure.live.nicovideo.jp/event/sanabaku0307">【ネット配信チケット購入はこちら】</a>
  <a href="https://twitter.com/sana_natori/status/1233343477867397120">【イベントの開催状況とコロナウイルス対策について】</a>
  <a href="https://twitter.com/37bakutan/status/1233602795955093504">【グッズ情報はこちら】</a>
</p>

<hr style="margin: 1em 0 ;">	
　<span class="important-notify"><b>名取さなオンリー同人誌即売会『名取さマ～？』2020/3/7開催！</b></span>	
<br>	
<button type="button" class="sounds" data-file="漢字テスト：おまいら自重[　　　]汁ｗｗｗｗｗ/何とは言いませんが">何とは言いませんが</button>
<button type="button" class="sounds" data-file="漢字テスト：おまいら自重[　　　]汁ｗｗｗｗｗ/噂を聞きつける">噂を聞きつける</button>
<p>
<a href="https://twitter.com/natorisummer">【イベント情報はこちら】</a>
<a href="https://natorisummer.site/circles/">【参加サークル一覧はこちら】</a>
</p>

<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>『さなのおうた。』楽曲配信開始！</b></span>
<br>
<button type="button" class="sounds" data-file="性の6時間は名取と子作りしようよっ！2019/さなのおうた。配信開始！">さなのおうた。配信開始！</button>
<button type="button" class="sounds" data-file="性の6時間は名取と子作りしようよっ！2019/Spotifyもある">Spotifyもある</button>
<p>
  <a href="https://music.apple.com/jp/album/%E3%81%95%E3%81%AA%E3%81%AE%E3%81%8A%E3%81%86%E3%81%9F-single/1490088141">Apple Music/iTunesはこちら</a>
  <a href="https://open.spotify.com/album/2hRbK2th3yOuwrKSUV2LTv">Spotifyはこちら</a>
  <a href="https://play.google.com/store/music/album?id=Bixi2p3tciazqbpzwtzw5sfmpqe">Google Playはこちら</a>
</p>
      
<p>
  <a href="https://linktr.ee/natori_sana">DLリンクまとめはこちら</a>
  <a href="https://www.youtube.com/watch?v=UADoH5n1RLM">さなのおうた。(YouTube)</a>
</p>

<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>『#名取さな ちゃん1/7スケールフィギュア』予約受付中！！</b></span>
<br>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/名取さなフィギュア化決定！">名取さなフィギュア化決定！</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/（下から見れますよ）">（下から見れますよ）</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/（下から見れます）">（下から見れます）</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/続報を待て">続報を待て</button>
<button type="button" class="sounds" data-file="どうも、知的で可愛い名取さなです。/しばし待て">しばし待て</button>
<button type="button" class="sounds" data-file="台風くん！後生だから/販売されます">販売されます</button>
<button type="button" class="sounds" data-file="台風くん！後生だから/フィギュアそろそろらしい">フィギュアそろそろらしい</button>
<button type="button" class="sounds" data-file="台風くん！後生だから/生産を遅らせるアヘエビ">生産を遅らせるアヘエビ</button>
<button type="button" class="sounds" data-file="台風くん！後生だから/アヘエビを持たせたかった">アヘエビを持たせたかった</button>
<button type="button" class="sounds" data-file="台風くん！後生だから/量産だとアヘエビ持てない">量産だとアヘエビ持てない</button>
<p>
  <a href="https://www.amiami.jp/top/detail/detail?gcode=FIGURE-054527">あみあみはこちら（特典はアクリルストラップ）</a>
  <a href="https://www.gamers.co.jp/pn/pd/10476310/">ゲーマーズはこちら（特典はA3タペストリー）</a>
  <a href="https://www.suruga-ya.jp/product/detail/602185083">駿河屋はこちら（特典はラバーキーホルダー）</a>
</p>
<p>
  <a href="https://twitter.com/sana_natori/status/1197504578431832064">特典情報はこちら</a>
  <a href="https://twitter.com/wanderer1127">わんだらー様のTwitterはこちら</a>
</p>

<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>ば〜ちゃるな〜す名取さなLINEスタンプ第1弾販売中！</b></span>
<br>
<p><a href="https://t.co/6zv09p2Kgn">購入はこちら</a>（※LINE スタンプはしゃべりません）</p>
<span>※ボタンを押して再生はされますが、仮置きです。近い内に変更すると思います🙏</span>
<br>
<button type="button" class="sounds" data-file="おえかきカキカキでワロタｗ/おはようございナース">おはようございナース</button>
<button type="button" class="sounds" data-file="破壊のち創造ってワケでしてｗ/ニマァ">二マァ</button>
<button type="button" class="sounds" data-file="3D名取のﾌﾆｬﾗｶｻｷﾞｮｰﾊｲｼﾝ/やっていくわよ">やっていくわよ</button>
<button type="button" class="sounds" data-file="今日は9月31日/えーんえんえんおいおいおい">えーんえんえんおいおいおい</button>
<button type="button" class="sounds" data-file="バイノーラルテスト配信/押し掛け">メーターまわってますよ</button>
<button type="button" class="sounds" data-file="Let‘s GO！名取さな＃1/完全に理解した">完全に理解した</button>
<button type="button" class="sounds" data-file="首の長さを修正したことを懺悔してみた/何の話してたっけ">何の話してたっけ</button>
<button type="button" class="sounds" data-file="すこ/すこ04">すこすこのすこ</button>
<br>
<button type="button" class="sounds" data-file="3D名取のﾌﾆｬﾗｶｻｷﾞｮｰﾊｲｼﾝ/なで1">何で（なで）</button>
<button type="button" class="sounds" data-file="ハロウィンイベ蜜チューチューでワロタ/やっぴ～！">やっぴ～！</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/正解正解">正解正解正解</button>
<button type="button" class="sounds" data-file="ネコのさばきは突然にくる/僕もそう思いますにゃ">僕もそう思いますにゃ</button>
<button type="button" class="sounds" data-file="3D名取のﾎﾆｬﾎﾆｬﾄﾞﾛｰｲﾝｸﾞ/呼吸頑張ってる">呼吸頑張ってる</button>
<button type="button" class="sounds" data-file="れいや～ずおぶふぃあ～Part4/了解！やります！">了解</button>
<button type="button" class="sounds" data-file="破壊のち創造ってワケでしてｗ/売っちゃった2">売っちゃった</button>
<button type="button" class="sounds" data-file="Let‘s GO！限界オタク＃2/いいね！2">いいね！</button>
<button type="button" class="sounds" data-file="４まんにんってなんまんにん？/偉すぎぃ！">偉すぎぃ！</button>
<br>
<button type="button" class="sounds" data-file="めうから奪ったはんこでフェスやるめう。/キレちゃったね～">キレちゃったね～</button>
<button type="button" class="sounds" data-file="破壊のち創造ってワケでしてｗ/オエってしてくる">オエってしてくる</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/息切れナース02">ハァハァ</button>
<button type="button" class="sounds" data-file="つよつよPCチャレンジゲリラ/大変感謝しております">感謝</button>
<button type="button" class="sounds" data-file="破壊のち創造ってワケでしてｗ/賢くなったネ">賢くなったネ</button>
<button type="button" class="sounds" data-file="毎年カップル板クリスマスコピペを見てブチ切れていた女の配信/メリークリスマス2">クリスマス</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/マ？02">マァ〜？</button>
<button type="button" class="sounds" data-file="登録者2万人達成で泣く名取/マ！？">マ！？</button>
<br>
<button type="button" class="sounds" data-file="破壊のち創造ってワケでしてｗ/すまねぇ〜">すまねぇ〜</button>
<button type="button" class="sounds" data-file="LINEすたんぷをつくるふぁむふぁたる/はい・・・">はい・・・</button>
<button type="button" class="sounds" data-file="てね/てね03">ってね</button>
<button type="button" class="sounds" data-file="平成最後の配信だが礼はいらんゾｗってね/フリーズしたハムスター">フリーズしたハムスター</button>
<button type="button" class="sounds" data-file="Let‘s GO！メスガキ四天王序列三位/もう許さねえからな">許さねえ</button>
<button type="button" class="sounds" data-file="Let‘s GO！名取さな＃1/笑い声9">笑い声</button>
<button type="button" class="sounds" data-file="ヒーラー職だからです/おつかれさな〜">おつかれさな〜</button>

<!-- 過去のグッズや連載などは、 /events.html -->

{% include contents.html %}

<hr style="margin: 1em 0 ;">
{%- include go-to/top.html -%}

<div class="profile-container">
  <div class="profile-item profile-card">
    <img class="natori-sana-icon"
         src="https://yt3.ggpht.com/a-/ACSszfGXKWd3tA-jxTE7DavDR6ElciSzd7mHOSyFJA=s900-mo-c-c0xffffffff-rj-k-no"
         alt="名取さなのアイコン">
    <br>
    名取さな／<br>
    Sana Natori
    <br>
    <br>
    <a href="https://twitter.com/sana_natori"><img src="/images/Twitter.png" alt="Twitter アカウントへのリンク画像"></a>
    　
    <a href="https://www.youtube.com/channel/UCIdEIHpS0TdkqRkHL5OkLtA"><img src="/images/Youtube.png" alt="YouTube チャンネルへのリンク画像"></a>
    <br>
    <br>
    おはようございナース！🍆🍆🍆<br>
    17さいの新人バーチャルYouTuber<br>
    バーチャル地方 海の見える <br>
    バーチャルサナトリウムの新米ナース
  </div>

  <div class="profile-item">
    <a class="twitter-timeline" data-width="500" data-height="600" data-lang="ja"
       href="https://twitter.com/sana_natori?ref_src=twsrc%5Etfw">
      Tweets by sana_natori
    </a>
  </div>
</div>

<div id="article-index" class="article-index">
  {%- include go-to/top.html -%}
  <div>
    <ul>
      {%- for post in site.posts reversed -%}
      <li><a href="/#{{ post.id }}">{{ post.date | date: "%Y/%m/%d" }}: {{ post.slug }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>

<footer>
{% include footer.html %}
</footer>
