---
---
<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="initial-scale=1">

    <!-- css -->
    <link href="main.css" rel="stylesheet" type="text/css">

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="scroll.js"></script>
    <script src="button.js"></script>
    <script async src="https://platform.twitter.com/widgets.js"></script>

    <title>さなボタン(2)</title>

</head>
<body>

<!-- メインコンテンツよりも手前のレイヤーに表示するもの ここから -->
<button type="button" id="stop-button" class="fixed">とめる？</button>
<!-- メインコンテンツよりも手前のレイヤーに表示するもの ここまで -->

<br>

{% include header.html %}

<br>

{% include update-log.html %}

<hr style="margin: 1em 0 ;">
　<span class="important-notify"><b>電 撃 マ 王 11 月 号　 9 月 2 7 日 発 売 ！</b></span>
<br>
<button type="button" class="sounds" data-file="./sounds/名取さな、〇〇〇になるやつ告知します！/電撃マ王11月号CM">電撃マ王11月号 発売！</button>
　
<button type="button" class="sounds" data-file="./sounds/名取さな、〇〇〇になるやつ告知します！/電撃マ王11月号CM_NG">電撃マ王11月号 発売！（take 1）</button>

<hr style="margin: 1em 0 ;">
<div id="#totop"><a href="#">ページのトップへ戻る</a></div>
{% include footer.html %}
</body>
</html>
