---
# Only the main Sass file needs front matter (the dashes are enough)
---
// import root directory is ./_sass
// e.g. `@import "fixed";` will imports ./_sass/fixed.scss
@import "fixed";
@import "table";
@import "common";
