.linktable {
  table-layout: fixed;
  width: 100%;
}

/* ヘッダー */
.linktable thead th {
  background: #ffffee;
  font-weight: bold;
  color: #000000;
}

/* ボディ　フッター */
.linktable tbody th {
  background: rgb(255, 255, 255);
}

/* 偶数行の色変え */
.linktable tr:nth-child(2n) th {
  background: rgb(255, 245, 255);
}
