{% for post in site.posts reversed %}
<hr style="margin: 1em 0 ;">
　　<span id="{{ post.id }}">
  <b>{{ post.slug }}</b>
  {%- if post.stream_id -%}
  （<a href="https://youtu.be/{{ post.stream_id }}" target="_blank" rel="noopener noreferrer">配信ページ</a>）
  {%- endif -%}
  {%- if post.tweed_id -%}
  （<a href="https://twitter.com/sana_natori/status/{{ post.tweed_id }}" target="_blank" rel="noopener noreferrer">ツイート</a>）
  {%- endif -%}
</span>

{%- for button_sections in post.buttons %}
<br>
{%- comment %}
- 直後の for 文は、生成される HTML コードの改行とかの都合で、あえてトリムしない制御構文にしている
- このコメントブロックを、「ブロック終端の後ろをトリムする制御構文」で書くことで、直後の for 文の行の先頭のインデントをトリムするハックをしている（ endcomment "-%}" の部分のこと）
{%- endcomment -%}
{% for button in button_sections %}
<button type="button" class="sounds" data-file="{{ button.file-name }}">{{ button.value }}</button>
{%- endfor %}
{%- endfor %}
{% endfor %}
