<hr style="margin: 1em 0 ;">
　<span class="important-notify"> 　<b>オリジナルソング＋歌ってみた</b></span>
<br>
<details>
  <summary>プレーヤーを表示する ※通信量にご注意下さい</summary>
    <div class="video-wrapper">
      <div class="video-container">
          <div id="player"></div>
      </div>
    </div>
</details>

<button type="button" class="youtube-sounds" data-id="UADoH5n1RLM" data-start="" data-end="">さなのおうた。</button>
<button type="button" class="youtube-sounds" data-id="DHirTqvmpM4" data-start="" data-end="">PINK,ALL,PINK！</button>
<button type="button" class="youtube-sounds" data-id="v6kxNhlDhBg" data-start="" data-end="">てあらいうがいのうた</button>
<br>
<button type="button" class="youtube-sounds" data-id="AeB6SOvka44" data-start="" data-end="">惑星ループ</button>
<button type="button" class="youtube-sounds" data-id="04-GugGkHxs" data-start="2084" data-end="2311">ハッピー☆マテリアル</button>
<button type="button" class="youtube-sounds" data-id="04-GugGkHxs" data-start="2470" data-end="2738">staple stable</button>
<button type="button" class="youtube-sounds" data-id="04-GugGkHxs" data-start="2921" data-end="3165">車輪の唄</button>
<button type="button" class="youtube-sounds" data-id="04-GugGkHxs" data-start="3460" data-end="3741">創世のアクエリオン</button>
<button type="button" class="youtube-sounds" data-id="M5zxb_3d2FA" data-start="3730" data-end="3996">PINK,ALL,PINK！(爆誕Ver)</button>

<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="368" data-end="591">ハッピー☆マテリアル(20万記念)</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="772" data-end="1036">メニメニマニマニ</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="1164" data-end="1256">DreamRiser(TV Size)</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="1438" data-end="1529">侵略ノススメ☆(TV Size)</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="1637" data-end="1728">恋愛サーキュレーション(TV Size)</button>

<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="1816" data-end="1905">もうそう♥えくすぷれす(TV Size)</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="2033" data-end="2132">白金ディスコ(TV Size)</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="2232.5" data-end="2476">ツキアカリのミチシルベ</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="2646" data-end="2734">青空のナミダ(TV Size)</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="2875" data-end="3173">マジックナンバー</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="3281" data-end="3603">ループ</button>

<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="3704" data-end="3978">W:Wonder tale</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="4192" data-end="4280">ヴィーナスとジーザス(TV Size)</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="4406" data-end="4706">奏</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="4836" data-end="5097">夜に駆ける</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="5206" data-end="5546">君の知らない物語</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="5681" data-end="">さなのおうた。(20万記念)</button>
<br>
<button type="button" class="youtube-sounds" data-id="moKQDRZCCEw" data-start="0" data-end="">Vアニソンリレー</button>
