<hr style="margin: 1em 0 ;">
　<span class="important-notify"> 　<b>オリジナルソング＋歌ってみた</b></span>
<br>
<details>
  <summary>プレーヤーを表示する ※通信量にご注意下さい</summary>
    <div class="video-wrapper">
      <div class="video-container">
          <div id="player"></div>
      </div>
    </div>
</details>

<button type="button" class="youtube-sounds" data-id="UADoH5n1RLM" data-start="" data-end="">さなのおうた。</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="3281" data-end="3600">ループ</button>
<button type="button" class="youtube-sounds" data-id="v6kxNhlDhBg" data-start="" data-end="">てあらいうがいのうた</button>
