<hr style="margin: 1em 0 ;">
　<span class="important-notify"> <i class="fab fa-youtube"></i> <b>オリジナルソング＋歌ってみた</b></span>
<br>
<details>
  <summary>プレーヤーを表示する ※通信量にご注意下さい</summary>
    <div class="video-wrapper">
      <div class="video-container">
          <div id="player"></div>
      </div>
    </div>
</details>

<button type="button" class="youtube-sounds" data-id="UADoH5n1RLM" data-start="" data-end=""><i class="fab fa-youtube"></i>さなのおうた。</button>
<button type="button" class="youtube-sounds" data-id="DHirTqvmpM4" data-start="" data-end=""><i class="fab fa-youtube"></i>PINK,ALL,PINK！</button>
<button type="button" class="youtube-sounds" data-id="v6kxNhlDhBg" data-start="" data-end=""><i class="fab fa-youtube"></i>てあらいうがいのうた</button>
<button type="button" class="youtube-sounds" data-id="nTOQwPtN0sM" data-start="" data-end=""><i class="fab fa-youtube"></i>おもちの合唱（輪唱）</button>
<button type="button" class="youtube-sounds" data-id="0QGFmo3jNMY" data-start="" data-end=""><i class="fab fa-youtube"></i>エッビーナースデイ（ばくたん2021）</button>
<button type="button" class="youtube-sounds" data-id="-uvosnOrKoc" data-start="" data-end=""><i class="fab fa-youtube"></i>アマカミサマ</button>
<button type="button" class="youtube-sounds" data-id="qjcuY1kXB38" data-start="" data-end=""><i class="fab fa-youtube"></i>だじゃれくりえいしょん（ばくたん2022）</button>
<button type="button" class="youtube-sounds" data-id="g5HQFrSk4OA" data-start="" data-end=""><i class="fab fa-youtube"></i>モンダイナイトリッパー！</button>
<br>
<button type="button" class="youtube-sounds" data-id="AeB6SOvka44" data-start="" data-end=""><i class="fab fa-youtube"></i>惑星ループ</button>
<button type="button" class="youtube-sounds" data-id="04-GugGkHxs" data-start="2084" data-end="2311"><i class="fab fa-youtube"></i>ハッピー☆マテリアル</button>
<button type="button" class="youtube-sounds" data-id="04-GugGkHxs" data-start="2470" data-end="2738"><i class="fab fa-youtube"></i>staple stable</button>
<button type="button" class="youtube-sounds" data-id="04-GugGkHxs" data-start="2921" data-end="3165"><i class="fab fa-youtube"></i>車輪の唄</button>
<button type="button" class="youtube-sounds" data-id="04-GugGkHxs" data-start="3460" data-end="3741"><i class="fab fa-youtube"></i>創世のアクエリオン</button>
<button type="button" class="youtube-sounds" data-id="M5zxb_3d2FA" data-start="3730" data-end="3996"><i class="fab fa-youtube"></i>PINK,ALL,PINK！(爆誕Ver)</button>

<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="368" data-end="591"><i class="fab fa-youtube"></i>ハッピー☆マテリアル(20万記念)</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="772" data-end="1036"><i class="fab fa-youtube"></i>メニメニマニマニ</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="1164" data-end="1256"><i class="fab fa-youtube"></i>DreamRiser(TV Size)</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="1438" data-end="1529"><i class="fab fa-youtube"></i>侵略ノススメ☆(TV Size)</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="1637" data-end="1728"><i class="fab fa-youtube"></i>恋愛サーキュレーション(TV Size)</button>

<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="1816" data-end="1905"><i class="fab fa-youtube"></i>もうそう♥えくすぷれす(TV Size)</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="2033" data-end="2132"><i class="fab fa-youtube"></i>白金ディスコ(TV Size)</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="2232.5" data-end="2476"><i class="fab fa-youtube"></i>ツキアカリのミチシルベ</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="2646" data-end="2734"><i class="fab fa-youtube"></i>青空のナミダ(TV Size)</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="2875" data-end="3173"><i class="fab fa-youtube"></i>マジックナンバー</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="3281" data-end="3603"><i class="fab fa-youtube"></i>ループ</button>

<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="3704" data-end="3978"><i class="fab fa-youtube"></i>W:Wonder tale</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="4192" data-end="4280"><i class="fab fa-youtube"></i>ヴィーナスとジーザス(TV Size)</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="4406" data-end="4706"><i class="fab fa-youtube"></i>奏</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="4836" data-end="5097"><i class="fab fa-youtube"></i>夜に駆ける</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="5206" data-end="5546"><i class="fab fa-youtube"></i>君の知らない物語</button>
<button type="button" class="youtube-sounds" data-id="v64VKMVfin4" data-start="5681" data-end=""><i class="fab fa-youtube"></i>さなのおうた。(20万記念)</button>
<br>
<button type="button" class="youtube-sounds" data-id="ct9xM0_NTVw" data-start="178" data-end="442"><i class="fab fa-youtube"></i>車輪の唄（2020年末）</button>
<button type="button" class="youtube-sounds" data-id="ct9xM0_NTVw" data-start="487" data-end="775"><i class="fab fa-youtube"></i>アイネクライネ</button>
<button type="button" class="youtube-sounds" data-id="ct9xM0_NTVw" data-start="810" data-end="1084"><i class="fab fa-youtube"></i>W:Wonder tale（2020年末）</button>
<button type="button" class="youtube-sounds" data-id="ct9xM0_NTVw" data-start="1181" data-end="1442"><i class="fab fa-youtube"></i>SUN</button>
<button type="button" class="youtube-sounds" data-id="ct9xM0_NTVw" data-start="1511" data-end="1773"><i class="fab fa-youtube"></i>夜に駆ける（2020年末）</button>

<button type="button" class="youtube-sounds" data-id="ct9xM0_NTVw" data-start="1832" data-end="2103"><i class="fab fa-youtube"></i>風になる</button>
<button type="button" class="youtube-sounds" data-id="ct9xM0_NTVw" data-start="2167" data-end="2432"><i class="fab fa-youtube"></i>空も飛べるはず</button>
<button type="button" class="youtube-sounds" data-id="ct9xM0_NTVw" data-start="2442.5" data-end="2682"><i class="fab fa-youtube"></i>青いベンチ</button>
<button type="button" class="youtube-sounds" data-id="ct9xM0_NTVw" data-start="2975" data-end="3216"><i class="fab fa-youtube"></i>言って。</button>
<button type="button" class="youtube-sounds" data-id="ct9xM0_NTVw" data-start="3471" data-end="3810"><i class="fab fa-youtube"></i>VIP STAR（POP STAR替え歌）</button>
<br>
<button type="button" class="youtube-sounds" data-id="moKQDRZCCEw" data-start="0" data-end=""><i class="fab fa-youtube"></i>Vアニソンリレー</button>
<button type="button" class="youtube-sounds" data-id="o6PmIOg-yaI" data-start="0" data-end=""><i class="fab fa-youtube"></i>VirtuaREAL.02（クロスフェード）</button>
<button type="button" class="youtube-sounds" data-id="t_dAFHrWdZU" data-start="0" data-end=""><i class="fab fa-youtube"></i>さなのおうた。(Piano Ver.)</button>
<button type="button" class="youtube-sounds" data-id="pfrVNIa0grg" data-start="0" data-end=""><i class="fab fa-youtube"></i>般若心経名取</button>
<p>
  <a href="https://linktr.ee/natori_sana"><i class="fas fa-external-link-alt"></i>さなのおうた。- DLリンク</a>
  <a href="https://www.mouse-jp.co.jp/creator/ss/daiv/case_study/sana-natori_nuventus.html"><i class="fas fa-external-link-alt"></i>MV特設ページ</a>
</p>
<p>
  <a href="https://linktr.ee/natorisana_PAP"><i class="fas fa-external-link-alt"></i>PINK,ALL,PINK！- DLリンク</a>
  <a href="https://www.mouse-jp.co.jp/creator/ss/daiv/case_study/sana-natori_pink.html"><i class="fas fa-external-link-alt"></i>MV特設ページ</a>
</p>
<p>
  <a href="https://linkco.re/YAU2vupq"><i class="fas fa-external-link-alt"></i>VirtuaREAL.02 - DLリンク</a>
</p>
<p>
  <a href="https://nex-tone.link/97257"><i class="fas fa-external-link-alt"></i>エッビーナースデイ - DLリンク</a>
</p>
<p>
  <a href="https://nex-tone.link/98488"><i class="fas fa-external-link-alt"></i>アマカミサマ- DLリンク</a>
  <a href="https://www.mouse-jp.co.jp/creator/ss/daiv/case_study/sana-natori_amakamisama.html"><i class="fas fa-external-link-alt"></i>MV特設ページ</a>
</p>
<p>
  <a href="https://nex-tone.link/A00087200"><i class="fas fa-external-link-alt"></i>さなのおうた。(Nor Remix) - DLリンク</a>
</p>
<p>
  <a href="https://nex-tone.link/A00096712"><i class="fas fa-external-link-alt"></i>だじゃれくりえいしょん - DLリンク</a>
</p>