
<footer>
    <div id="#totop"><a href="#">ページのトップへ戻る</a></div>

    <a href="https://twitter.com/sana_natori"><img src="./Twitter.png" align="Twitter アカウントへのリンク画像"></a>
    　
    <a href="https://www.youtube.com/channel/UCIdEIHpS0TdkqRkHL5OkLtA"><img src="./Youtube.png" align="YouTube チャンネルへのリンク画像"></a>

    <table>
        <tr align="center">
            <td width="320" height="600">

                <img id="comp-jepaou0qimgimage" alt="名取さなのアイコン"
                     data-type="image" style="width: 211px; height: 211px; object-fit: cover;"
                     src="https://yt3.ggpht.com/a-/ACSszfGXKWd3tA-jxTE7DavDR6ElciSzd7mHOSyFJA=s900-mo-c-c0xffffffff-rj-k-no">
                <br>
                <font color="#fdf5e6">名取さな／<br>Sana Natori</font>
                <br><br>
                おはようございナース！🍆🍆🍆<br>17さいの新人バーチャルYouTuber<br>バーチャル地方 海の見える<br>バーチャルサナトリウムの新米ナース
            </td>

            <td width="500" height="600">
                <a class="twitter-timeline" data-lang="ja" data-width="500" data-height="600"
                   href="https://twitter.com/sana_natori?ref_src=twsrc%5Etfw">Tweets by sana_natori</a>
            </td>
        </tr>
    </table>
</footer>
