<div>
  連絡先：<a href="https://twitter.com/ndxbn">@ndxbn（Twitter）</a> もしくは <a href="https://github.com/sanabutton/sanabutton.github.io/issues">GitHub ISSUE</a>
</div>


<div class="profile-container">
    <div class="profile-item profile-card">
        <img class="natori-sana-icon"
             src="https://yt3.ggpht.com/a-/ACSszfGXKWd3tA-jxTE7DavDR6ElciSzd7mHOSyFJA=s900-mo-c-c0xffffffff-rj-k-no"
             alt="名取さなのアイコン">
        <br>
        名取さな／<br>
        Sana Natori
        <br>
        <br>
        <a href="https://twitter.com/sana_natori"><img src="./Twitter.png" alt="Twitter アカウントへのリンク画像"></a>
        　
        <a href="https://www.youtube.com/channel/UCIdEIHpS0TdkqRkHL5OkLtA"><img src="./Youtube.png" alt="YouTube チャンネルへのリンク画像"></a>
        <br>
        <br>
        おはようございナース！🍆🍆🍆<br>
        17さいの新人バーチャルYouTuber<br>
        バーチャル地方 海の見える <br>
        バーチャルサナトリウムの新米ナース
    </div>

    <div class="profile-item">
        <a class="twitter-timeline" data-width="500" data-height="600" data-lang="ja"
           href="https://twitter.com/sana_natori?ref_src=twsrc%5Etfw">
            Tweets by sana_natori
        </a>
    </div>
</div>
