<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125646809-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-125646809-1');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1">

{% include head/favicon.html %}

<!-- css -->
<link href="main.css" rel="stylesheet" type="text/css">

<!-- scripts -->
<script src="button.js"></script>
<script async src="https://unpkg.com/smoothscroll-polyfill@0.4.3/dist/smoothscroll.min.js"></script>
<script async src="https://platform.twitter.com/widgets.js"></script>

<title>さなボタン(2)</title>
