<header>
    <center><h1 style="color: #ff7f50;">さなボタン</h1></center>

    <br>

    <u><b>さなちゃんからいつも元気貰ってます、ありがとう！<br>
        勝手に作っちゃってごめんなさい</b></u><br><br>

    <!-- ゆーらんさん勝手に使っちゃってごめんなさい -->
    <!-- まずかったら言ってくださいね -->
    <!-- https://twitter.com/ndxbn -->

    <a href="https://twitter.com/share" class="twitter-share-button" data-text="すこ！　#さなボタン" data-url="https://www.natorisana.love/" data-lang="ja">
        Tweet
    </a>
    <br>

    <table class="linktable">
        <tr>
            <th>オマージュ<br>素敵なボタンサイト様</th>
        <tr>
            <td><a href="http://sanabutton.ojaru.jp">（元の）さなボタン</a>様
        <tr>
            <td><a href="http://ushiumi.ichiya-boshi.net/">宇志海ボタン</a>様
        <tr>
            <td><a href="http://tsukino-mito.extrem.ne.jp/">美兎ボタン</a>様
        <tr>
            <td><a href="https://rimumaki.clocknote.net">りむとまきボタン</a>様
        <tr>
            <td><a href="http://inabagumi.sakura.ne.jp/">はねるボタン(2)</a>様
        <tr>
            <td><a href="http://magurona-button.sakura.ne.jp/">まぐろなボタン</a>様
    </table>
</header>
