@mixin modified-log {
  color: #808080;
  ul {
    list-style: none;
  }
}

.create-log {
  @include modified-log;
}

.update-log {
  @include modified-log;
}

.important-notify {
  color: red;
}

.site-title {
  color: #ff7f50;
  text-align: center;
}

// profile
.profile-container {
  display: flex;
  flex-flow: row wrap;
}

.profile-card {
  width: 300px;
  text-align: center;
}

.natori-sana-icon {
  width: 211px;
  height: 211px;
  object-fit: cover;
}
