.fixed {
  position: fixed;
  font-weight: bold;
  color: rgb(75, 75, 75);
  top: 20px;
  right: 15px;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 20px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(255, 198, 198)),
    to(#ffc4c4)
  );

  &:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.7;
    text-shadow: none;
  }
}

#fixedTop {
  position: fixed;
  left: 15px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: rgb(100, 100, 100);
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px 0 #ffffff;
  display: none;
  background: rgb(255, 200, 140);
  z-index: 9999;
  border-radius: 5px;

  &:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.7;
    text-shadow: none;
    background: #fcdfa0;
  }
}
