<hr style="margin: 1em 0 ;">

　　<b>さなちゃんのおうた　+α</b><br>
<button type="button" class="sounds" data-file="GW振り返り配信/おうたー？">おうたー？</button>
<button type="button" class="sounds" data-file="おうた/ダンスロボットダンス">ダンスロボットダンス</button>
<button type="button" class="sounds" data-file="おうた/ハリーポッター">ハリーポッター</button>
<button type="button" class="sounds" data-file="おうた/コンギ">コンギョ</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/コンギョ全部覚えてたらこわいだろ">コンギョおまけ01</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/コンギョおまけ02">コンギョおまけ02</button>
<button type="button" class="sounds" data-file="GW振り返り配信/深海少女">深海少女</button>
<button type="button" class="sounds" data-file="GW振り返り配信/深海少女サビ">深海少女サビ</button>
<button type="button" class="sounds" data-file="GW振り返り配信/ポニョ">ポニョ</button>
<button type="button" class="sounds" data-file="GW振り返り配信/ポニョおまけ">ポニョおまけ</button>
<br>
<button type="button" class="sounds" data-file="GW振り返り配信/子守歌">子守歌</button>
<button type="button" class="sounds" data-file="GW振り返り配信/鼻歌">鼻歌</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/アイアイ">アイアイ</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/アメイジング・キャッスル">アメイジング・キャッスル</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/小夜子">小夜子</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/小夜子サビ">小夜子サビ</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/One more time,One more chance">One more time,One more chance</button>
<button type="button" class="sounds" data-file="ゲリラ/HappyBirthday">HappyBirthday</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/トライアングラー">トライアングラー</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/いっぱい食べる君が好き">いっぱい食べる君が好き</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/アンパンマンマーチ">アンパンマンマーチ</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/とっとこオペラ太郎">とっとこハム太郎</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/キチレコ">キチレコ</button>
<br>
<button type="button" class="sounds" data-file="美術館/fancy baby doll">fancy baby doll</button>
<button type="button" class="sounds" data-file="美術館/コンギョ01">コンギョ03</button>
<button type="button" class="sounds" data-file="美術館/シュガーレス×フレンド">シュガーレス×フレンド</button>
<button type="button" class="sounds" data-file="美術館/ファルル">ファルル</button>
<button type="button" class="sounds" data-file="美術館/メニメニマニマニ">メニメニマニマニ</button>
<button type="button" class="sounds" data-file="バイノーラルテスト配信/むんむんむぴっぴ">むんむんむぴっぴ</button>
<button type="button" class="sounds" data-file="バイノーラルテスト配信/スペースコブラ">スペースコブラ</button>
<button type="button" class="sounds" data-file="バイノーラルテスト配信/バイノーラルハッピーバースデー">バイノーラルハッピーバースデー</button>
<button type="button" class="sounds" data-file="せんせえがバーチャルさんを見ている時バーチャルさんもまた以下略/おもちゃの兵隊の行進曲">3分クッキング</button>
<br>
<button type="button" class="sounds" data-file="GW振り返り配信/ヌォンタートの由来">ヌォンタートの由来</button>
<button type="button" class="sounds" data-file="GW振り返り配信/アンテいい作品だから">アンテいい作品だから</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/チップチューンが好き">チップチューン</button>
<button type="button" class="sounds" data-file="ゲリラ/う〇ち">う〇ち</button>
<button type="button" class="sounds" data-file="ゲリラ/せんせえありがとう">せんせえ達ありがとう</button>
<button type="button" class="sounds" data-file="ゲリラ/せんせえありがとう take2">せんせえ達ありがとう take2</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/いつもありがとう">いつもありがとう</button>
<button type="button" class="sounds" data-file="ゲリラ/看取りさな">看取りさな01</button>
<button type="button" class="sounds" data-file="美術館/看取りさな02">看取りさな02</button>
<button type="button" class="sounds" data-file="ゲリラ/ドエッチ">ドエッチ</button>
<br>
<button type="button" class="sounds" data-file="七夕/名取が用意したご飯">名取が用意したご飯</button>
<button type="button" class="sounds" data-file="七夕/名取のソーセージ">名取のソーセージ</button>
<button type="button" class="sounds" data-file="七夕/ごめーん…">ごめーん…</button>
<button type="button" class="sounds" data-file="七夕/箸への感謝">箸への感謝</button>
<button type="button" class="sounds" data-file="七夕/はい、あーん">はい、あーん</button>
<button type="button" class="sounds" data-file="七夕/まな板片づけて">まな板片づけて</button>
<button type="button" class="sounds" data-file="七夕/しゅじゅん">しゅじゅん</button>
<br>
<button type="button" class="sounds" data-file="未定/古戦場逃げてええで">古戦場逃げてええで</button>
<button type="button" class="sounds" data-file="未定/古戦場逃げていいよ">古戦場逃げていいよ</button>
<button type="button" class="sounds" data-file="未定/古戦場そこそこに頑張ろうな">古戦場そこそこに頑張ろうな</button>

<hr style="margin: 1em 0 ;">
　　<b>驚き　悲鳴</b><br>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き01">驚き01</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き02">驚き02</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き03">驚き03</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き04">驚き04</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き05">驚き05</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き06">驚き06</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き07">驚き07</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き08">驚き08</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き09">驚き09</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き10">驚き10</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き11">驚き11</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き12">驚き12</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き13">驚き13</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き14">驚き14</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き15">驚き15</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き16">驚き16</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き17">驚き17</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き18">驚き18</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き19">驚き19</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き20">驚き20</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き21">驚き21</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き22">驚き22</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き23">驚き23</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き24">驚き24</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き25">驚き25</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き26">驚き26</button>
<br>
<button type="button" class="sounds" data-file="七夕/驚き01">驚き27</button>
<button type="button" class="sounds" data-file="七夕/驚き02">驚き28</button>
<button type="button" class="sounds" data-file="七夕/驚き03">驚き29</button>
<button type="button" class="sounds" data-file="七夕/驚き04">驚き30</button>
<button type="button" class="sounds" data-file="七夕/驚き05">驚き31</button>
<button type="button" class="sounds" data-file="七夕/驚き06">驚き32</button>
<button type="button" class="sounds" data-file="七夕/驚き07">驚き33</button>
<button type="button" class="sounds" data-file="七夕/驚き08">驚き34</button>
<button type="button" class="sounds" data-file="七夕/驚き09">驚き35</button>
<button type="button" class="sounds" data-file="七夕/驚き10">驚き36</button>
<button type="button" class="sounds" data-file="七夕/驚き11">驚き37</button>
<button type="button" class="sounds" data-file="七夕/驚き12">驚き38</button>
<button type="button" class="sounds" data-file="七夕/驚き13">驚き39</button>
<button type="button" class="sounds" data-file="七夕/驚き14">驚き40</button>
<br>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴01">悲鳴01</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴02">悲鳴02</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴03">悲鳴03</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴04">悲鳴04</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴05">悲鳴05</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴06">悲鳴06</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴07">悲鳴07</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴08">悲鳴08</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴09">悲鳴09</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴10">悲鳴10</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴11">悲鳴11</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴12">悲鳴12</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴13">悲鳴13</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴14">悲鳴14</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴15">悲鳴15</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴16">悲鳴16</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴17">悲鳴17</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴18">悲鳴18</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴19">悲鳴19</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴20">悲鳴20</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴21">悲鳴21</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴22">悲鳴22</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴23">悲鳴23</button>
<br>
<button type="button" class="sounds" data-file="七夕/悲鳴01">悲鳴24</button>
<button type="button" class="sounds" data-file="七夕/悲鳴02">悲鳴25</button>
<button type="button" class="sounds" data-file="七夕/悲鳴03">悲鳴26</button>
<button type="button" class="sounds" data-file="七夕/悲鳴04">悲鳴27</button>
<button type="button" class="sounds" data-file="七夕/悲鳴05">悲鳴28</button>
<br>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/演技01">演技01</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/演技02">演技02</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/演技03">演技03</button>

<hr style="margin: 1em 0 ;">
　　<b>すこすこのすこ！　おはようございなーす！ くぅ～</b><br>
<button type="button" class="sounds" data-file="すこ/すこ01">すこすこのすこ01</button>
<button type="button" class="sounds" data-file="すこ/すこ02">すこすこのすこ02</button>
<button type="button" class="sounds" data-file="すこ/すこ03">すこすこのすこ03</button>
<button type="button" class="sounds" data-file="すこ/すこ04">すこすこのすこ04</button>
<button type="button" class="sounds" data-file="すこ/すこ05">すこすこのすこ05</button>
<br>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/すこすこ06">すこすこのすこ06</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/すこすこ07">すこすこのすこ07</button>
<br>
<button type="button" class="sounds" data-file="てすと/せいちゃんすこ">せうちゃんすこ！</button>
<button type="button" class="sounds" data-file="てすと/ぎるさますこ">ぎるさますこ！</button>
<button type="button" class="sounds" data-file="てすと/いちごちゃんすこ">いちごちゃんすこ！</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/すこすこ侍">すこすこ侍</button>
<button type="button" class="sounds" data-file="GW振り返り配信/なとなとすこ">なとなとすこ</button>
<button type="button" class="sounds" data-file="GW振り返り配信/すこすこのすこ">すこすこのすこ</button>
<button type="button" class="sounds" data-file="GW振り返り配信/すこだ">すこだ</button>
<button type="button" class="sounds" data-file="GW振り返り配信/すこすこ">すこすこ…</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/それすこすこ">それすこすこ</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/すここすこ…早口で">すここすこ…早口で</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/すこすここここ？">すこすここここ？</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/すこすこのだいすこ">すこすこのだいすこ</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くっ…すこっ">くっ…すこっ</button>
<br>
<button type="button" class="sounds" data-file="美術館/名取すこすこ">名取すこすこ</button>
<button type="button" class="sounds" data-file="美術館/むぎちゃんすこだ">むぎちゃんすこだ</button>
<button type="button" class="sounds" data-file="美術館/むぎちゃん大好き">むぎちゃん大好き</button>
<button type="button" class="sounds" data-file="美術館/ゆにおねえちゃんすこだ">ゆにおねえちゃんすこだ</button>
<br>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/おはようございなーす？">おはようございなーす？</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/おはようございなーす0001">おはようございなーす01</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/おはようございなーす0002">おはようございなーす02</button>
<button type="button" class="sounds" data-file="GW振り返り配信/おはようございなーす">おはようございなーす03</button>
<button type="button" class="sounds" data-file="GW振り返り配信/おはようございなーす02">おはようございなーす04</button>
<button type="button" class="sounds" data-file="GW振り返り配信/おはようございなーすいぇい">おはようございなーす05</button>
<button type="button" class="sounds" data-file="GW振り返り配信/おはようございなーすってね">おはようございなーす06</button>
<button type="button" class="sounds" data-file="GW振り返り配信/おはようございなーす囁き">おはようございなーす07</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/おはようございなーす01">おはようございなーす08</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/おはようございなーす02">おはようございなーす09</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/おはようございなーす03">おはようございなーす10</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/おはようございなーす01">おはようございなーす11</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/おはようございなーす02">おはようございなーす12</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/おはようございなーす03">おはようございなーす13</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/おはようございなーす04">おはようございなーす14</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/おはようございなーす05">おはようございなーす15</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/おはようございなーす06">おはようございなーす16</button>
<button type="button" class="sounds" data-file="美術館/おはようございなーす01">おはようございなーす17</button>
<button type="button" class="sounds" data-file="美術館/おはようございなーす02">おはようございなーす18</button>
<br>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/くぅー01">くぅー00</button>
<button type="button" class="sounds" data-file="GW振り返り配信/くぅー01">くぅー01</button>
<button type="button" class="sounds" data-file="GW振り返り配信/くぅー02">くぅー02</button>
<button type="button" class="sounds" data-file="GW振り返り配信/くぅー03">くぅー03</button>
<button type="button" class="sounds" data-file="GW振り返り配信/くぅー04">くぅー04</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/くぅー01">くぅー05</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/くぅー02">くぅー06</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/くぅー03">くぅー07</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/くぅー04">くぅー08</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー01">くぅー09</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー02">くぅー10</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー03">くぅー11</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー04">くぅー12</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー05">くぅー13</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー06">くぅー14</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー07">くぅー15</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー08">くぅー16</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー09">くぅー17</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー10">くぅー18</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー11">くぅー19</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー12">くぅー20</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー13">くぅー21</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー14">くぅー22</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー15">くぅー23</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー16">くぅー24</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー17">くぅー25</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー18">くぅー26</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー19">くぅー27</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー20">くぅー28</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー21">くぅー28.1</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー22">くぅー28.2</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー23">くぅー28.3</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー21">くぅー29</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー22">くぅー30</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー23">くぅー31</button>
<button type="button" class="sounds" data-file="美術館/くぅー01">くぅー32</button>
<button type="button" class="sounds" data-file="美術館/くぅー02">くぅー33</button>
<button type="button" class="sounds" data-file="美術館/くぅー03">くぅー34</button>
<button type="button" class="sounds" data-file="美術館/くぅー3回">くぅー35</button>

