<hr style="margin: 1em 0 ;">

　　<b>さなちゃんのおうた　+α</b><br>
<button type="button" class="sounds" data-file="GW振り返り配信/おうたー？">おうたー？</button>
<button type="button" class="sounds" data-file="おうた/ダンスロボットダンス">ダンスロボットダンス</button>
<button type="button" class="sounds" data-file="おうた/ハリーポッター">ハリーポッター</button>
<button type="button" class="sounds" data-file="おうた/コンギ">コンギョ</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/コンギョ全部覚えてたらこわいだろ">コンギョおまけ01</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/コンギョおまけ02">コンギョおまけ02</button>
<button type="button" class="sounds" data-file="GW振り返り配信/深海少女">深海少女</button>
<button type="button" class="sounds" data-file="GW振り返り配信/深海少女サビ">深海少女サビ</button>
<button type="button" class="sounds" data-file="GW振り返り配信/ポニョ">ポニョ</button>
<button type="button" class="sounds" data-file="GW振り返り配信/ポニョおまけ">ポニョおまけ</button>
<br>
<button type="button" class="sounds" data-file="GW振り返り配信/子守歌">子守歌</button>
<button type="button" class="sounds" data-file="GW振り返り配信/鼻歌">鼻歌</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/アイアイ">アイアイ</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/アメイジング・キャッスル">アメイジング・キャッスル</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/小夜子">小夜子</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/小夜子サビ">小夜子サビ</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/One more time,One more chance">One more time,One more chance</button>
<button type="button" class="sounds" data-file="ゲリラ/HappyBirthday">HappyBirthday</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/トライアングラー">トライアングラー</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/いっぱい食べる君が好き">いっぱい食べる君が好き</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/アンパンマンマーチ">アンパンマンマーチ</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/とっとこオペラ太郎">とっとこハム太郎</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/キチレコ">キチレコ</button>
<br>
<button type="button" class="sounds" data-file="美術館/fancy baby doll">fancy baby doll</button>
<button type="button" class="sounds" data-file="美術館/コンギョ01">コンギョ03</button>
<button type="button" class="sounds" data-file="美術館/シュガーレス×フレンド">シュガーレス×フレンド</button>
<button type="button" class="sounds" data-file="美術館/ファルル">ファルル</button>
<button type="button" class="sounds" data-file="美術館/メニメニマニマニ">メニメニマニマニ</button>
<button type="button" class="sounds" data-file="バイノーラルテスト配信/むんむんむぴっぴ">むんむんむぴっぴ</button>
<button type="button" class="sounds" data-file="バイノーラルテスト配信/スペースコブラ">スペースコブラ</button>
<button type="button" class="sounds" data-file="バイノーラルテスト配信/バイノーラルハッピーバースデー">バイノーラルハッピーバースデー</button>
<button type="button" class="sounds" data-file="せんせえがバーチャルさんを見ている時バーチャルさんもまた以下略/おもちゃの兵隊の行進曲">3分クッキング</button>
<br>
<button type="button" class="sounds" data-file="GW振り返り配信/ヌォンタートの由来">ヌォンタートの由来</button>
<button type="button" class="sounds" data-file="GW振り返り配信/アンテいい作品だから">アンテいい作品だから</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/チップチューンが好き">チップチューン</button>
<button type="button" class="sounds" data-file="ゲリラ/う〇ち">う〇ち</button>
<button type="button" class="sounds" data-file="ゲリラ/せんせえありがとう">せんせえ達ありがとう</button>
<button type="button" class="sounds" data-file="ゲリラ/せんせえありがとう take2">せんせえ達ありがとう take2</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/いつもありがとう">いつもありがとう</button>
<button type="button" class="sounds" data-file="ゲリラ/看取りさな">看取りさな01</button>
<button type="button" class="sounds" data-file="美術館/看取りさな02">看取りさな02</button>
<button type="button" class="sounds" data-file="ゲリラ/ドエッチ">ドエッチ</button>
<br>
<button type="button" class="sounds" data-file="七夕/名取が用意したご飯">名取が用意したご飯</button>
<button type="button" class="sounds" data-file="七夕/名取のソーセージ">名取のソーセージ</button>
<button type="button" class="sounds" data-file="七夕/ごめーん…">ごめーん…</button>
<button type="button" class="sounds" data-file="七夕/箸への感謝">箸への感謝</button>
<button type="button" class="sounds" data-file="七夕/はい、あーん">はい、あーん</button>
<button type="button" class="sounds" data-file="七夕/まな板片づけて">まな板片づけて</button>
<button type="button" class="sounds" data-file="七夕/しゅじゅん">しゅじゅん</button>
<br>
<button type="button" class="sounds" data-file="未定/古戦場逃げてええで">古戦場逃げてええで</button>
<button type="button" class="sounds" data-file="未定/古戦場逃げていいよ">古戦場逃げていいよ</button>
<button type="button" class="sounds" data-file="未定/古戦場そこそこに頑張ろうな">古戦場そこそこに頑張ろうな</button>
