<hr style="margin: 1em 0 ;">

　　<b>さなちゃんのおうた　+α</b><br>
<button type="button" class="sounds" data-file="GW振り返り配信/おうたー？">おうたー？</button>
<button type="button" class="sounds" data-file="おうた/ダンスロボットダンス">ダンスロボットダンス</button>
<button type="button" class="sounds" data-file="おうた/ハリーポッター">ハリーポッター</button>
<button type="button" class="sounds" data-file="おうた/コンギ">コンギョ</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/コンギョ全部覚えてたらこわいだろ">コンギョおまけ01</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/コンギョおまけ02">コンギョおまけ02</button>
<button type="button" class="sounds" data-file="GW振り返り配信/深海少女">深海少女</button>
<button type="button" class="sounds" data-file="GW振り返り配信/深海少女サビ">深海少女サビ</button>
<button type="button" class="sounds" data-file="GW振り返り配信/ポニョ">ポニョ</button>
<button type="button" class="sounds" data-file="GW振り返り配信/ポニョおまけ">ポニョおまけ</button>
<br>
<button type="button" class="sounds" data-file="GW振り返り配信/子守歌">子守歌</button>
<button type="button" class="sounds" data-file="GW振り返り配信/鼻歌">鼻歌</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/アイアイ">アイアイ</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/アメイジング・キャッスル">アメイジング・キャッスル</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/小夜子">小夜子</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/小夜子サビ">小夜子サビ</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/One more time,One more chance">One more time,One more chance</button>
<button type="button" class="sounds" data-file="ゲリラ/HappyBirthday">HappyBirthday</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/トライアングラー">トライアングラー</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/いっぱい食べる君が好き">いっぱい食べる君が好き</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/アンパンマンマーチ">アンパンマンマーチ</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/とっとこオペラ太郎">とっとこハム太郎</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/キチレコ">キチレコ</button>
<br>
<button type="button" class="sounds" data-file="美術館/fancy baby doll">fancy baby doll</button>
<button type="button" class="sounds" data-file="美術館/コンギョ01">コンギョ03</button>
<button type="button" class="sounds" data-file="美術館/シュガーレス×フレンド">シュガーレス×フレンド</button>
<button type="button" class="sounds" data-file="美術館/ファルル">ファルル</button>
<button type="button" class="sounds" data-file="美術館/メニメニマニマニ">メニメニマニマニ</button>
<button type="button" class="sounds" data-file="バイノーラルテスト配信/むんむんむぴっぴ">むんむんむぴっぴ</button>
<button type="button" class="sounds" data-file="バイノーラルテスト配信/スペースコブラ">スペースコブラ</button>
<button type="button" class="sounds" data-file="バイノーラルテスト配信/バイノーラルハッピーバースデー">バイノーラルハッピーバースデー</button>
<button type="button" class="sounds" data-file="せんせえがバーチャルさんを見ている時バーチャルさんもまた以下略/おもちゃの兵隊の行進曲">3分クッキング</button>
<br>
<button type="button" class="sounds" data-file="GW振り返り配信/ヌォンタートの由来">ヌォンタートの由来</button>
<button type="button" class="sounds" data-file="GW振り返り配信/アンテいい作品だから">アンテいい作品だから</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/チップチューンが好き">チップチューン</button>
<button type="button" class="sounds" data-file="ゲリラ/う〇ち">う〇ち</button>
<button type="button" class="sounds" data-file="ゲリラ/せんせえありがとう">せんせえ達ありがとう</button>
<button type="button" class="sounds" data-file="ゲリラ/せんせえありがとう take2">せんせえ達ありがとう take2</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/いつもありがとう">いつもありがとう</button>
<button type="button" class="sounds" data-file="ゲリラ/看取りさな">看取りさな01</button>
<button type="button" class="sounds" data-file="美術館/看取りさな02">看取りさな02</button>
<button type="button" class="sounds" data-file="ゲリラ/ドエッチ">ドエッチ</button>
<br>
<button type="button" class="sounds" data-file="七夕/名取が用意したご飯">名取が用意したご飯</button>
<button type="button" class="sounds" data-file="七夕/名取のソーセージ">名取のソーセージ</button>
<button type="button" class="sounds" data-file="七夕/ごめーん…">ごめーん…</button>
<button type="button" class="sounds" data-file="七夕/箸への感謝">箸への感謝</button>
<button type="button" class="sounds" data-file="七夕/はい、あーん">はい、あーん</button>
<button type="button" class="sounds" data-file="七夕/まな板片づけて">まな板片づけて</button>
<button type="button" class="sounds" data-file="七夕/しゅじゅん">しゅじゅん</button>
<br>
<button type="button" class="sounds" data-file="未定/古戦場逃げてええで">古戦場逃げてええで</button>
<button type="button" class="sounds" data-file="未定/古戦場逃げていいよ">古戦場逃げていいよ</button>
<button type="button" class="sounds" data-file="未定/古戦場そこそこに頑張ろうな">古戦場そこそこに頑張ろうな</button>

<hr style="margin: 1em 0 ;">
　　<b>驚き　悲鳴</b><br>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き01">驚き01</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き02">驚き02</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き03">驚き03</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き04">驚き04</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き05">驚き05</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き06">驚き06</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き07">驚き07</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き08">驚き08</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き09">驚き09</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き10">驚き10</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き11">驚き11</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き12">驚き12</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き13">驚き13</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き14">驚き14</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き15">驚き15</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き16">驚き16</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き17">驚き17</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き18">驚き18</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き19">驚き19</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き20">驚き20</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き21">驚き21</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き22">驚き22</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き23">驚き23</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き24">驚き24</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き25">驚き25</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/驚き26">驚き26</button>
<br>
<button type="button" class="sounds" data-file="七夕/驚き01">驚き27</button>
<button type="button" class="sounds" data-file="七夕/驚き02">驚き28</button>
<button type="button" class="sounds" data-file="七夕/驚き03">驚き29</button>
<button type="button" class="sounds" data-file="七夕/驚き04">驚き30</button>
<button type="button" class="sounds" data-file="七夕/驚き05">驚き31</button>
<button type="button" class="sounds" data-file="七夕/驚き06">驚き32</button>
<button type="button" class="sounds" data-file="七夕/驚き07">驚き33</button>
<button type="button" class="sounds" data-file="七夕/驚き08">驚き34</button>
<button type="button" class="sounds" data-file="七夕/驚き09">驚き35</button>
<button type="button" class="sounds" data-file="七夕/驚き10">驚き36</button>
<button type="button" class="sounds" data-file="七夕/驚き11">驚き37</button>
<button type="button" class="sounds" data-file="七夕/驚き12">驚き38</button>
<button type="button" class="sounds" data-file="七夕/驚き13">驚き39</button>
<button type="button" class="sounds" data-file="七夕/驚き14">驚き40</button>
<br>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴01">悲鳴01</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴02">悲鳴02</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴03">悲鳴03</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴04">悲鳴04</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴05">悲鳴05</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴06">悲鳴06</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴07">悲鳴07</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴08">悲鳴08</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴09">悲鳴09</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴10">悲鳴10</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴11">悲鳴11</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴12">悲鳴12</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴13">悲鳴13</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴14">悲鳴14</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴15">悲鳴15</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴16">悲鳴16</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴17">悲鳴17</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴18">悲鳴18</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴19">悲鳴19</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴20">悲鳴20</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴21">悲鳴21</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴22">悲鳴22</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/悲鳴23">悲鳴23</button>
<br>
<button type="button" class="sounds" data-file="七夕/悲鳴01">悲鳴24</button>
<button type="button" class="sounds" data-file="七夕/悲鳴02">悲鳴25</button>
<button type="button" class="sounds" data-file="七夕/悲鳴03">悲鳴26</button>
<button type="button" class="sounds" data-file="七夕/悲鳴04">悲鳴27</button>
<button type="button" class="sounds" data-file="七夕/悲鳴05">悲鳴28</button>
<br>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/演技01">演技01</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/演技02">演技02</button>
<button type="button" class="sounds" data-file="6万人記念でホラゲ/演技03">演技03</button>

<hr style="margin: 1em 0 ;">
　　<b>すこすこのすこ！　おはようございなーす！ くぅ～</b><br>
<button type="button" class="sounds" data-file="すこ/すこ01">すこすこのすこ01</button>
<button type="button" class="sounds" data-file="すこ/すこ02">すこすこのすこ02</button>
<button type="button" class="sounds" data-file="すこ/すこ03">すこすこのすこ03</button>
<button type="button" class="sounds" data-file="すこ/すこ04">すこすこのすこ04</button>
<button type="button" class="sounds" data-file="すこ/すこ05">すこすこのすこ05</button>
<br>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/すこすこ06">すこすこのすこ06</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/すこすこ07">すこすこのすこ07</button>
<br>
<button type="button" class="sounds" data-file="てすと/せいちゃんすこ">せうちゃんすこ！</button>
<button type="button" class="sounds" data-file="てすと/ぎるさますこ">ぎるさますこ！</button>
<button type="button" class="sounds" data-file="てすと/いちごちゃんすこ">いちごちゃんすこ！</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/すこすこ侍">すこすこ侍</button>
<button type="button" class="sounds" data-file="GW振り返り配信/なとなとすこ">なとなとすこ</button>
<button type="button" class="sounds" data-file="GW振り返り配信/すこすこのすこ">すこすこのすこ</button>
<button type="button" class="sounds" data-file="GW振り返り配信/すこだ">すこだ</button>
<button type="button" class="sounds" data-file="GW振り返り配信/すこすこ">すこすこ…</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/それすこすこ">それすこすこ</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/すここすこ…早口で">すここすこ…早口で</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/すこすここここ？">すこすここここ？</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/すこすこのだいすこ">すこすこのだいすこ</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くっ…すこっ">くっ…すこっ</button>
<br>
<button type="button" class="sounds" data-file="美術館/名取すこすこ">名取すこすこ</button>
<button type="button" class="sounds" data-file="美術館/むぎちゃんすこだ">むぎちゃんすこだ</button>
<button type="button" class="sounds" data-file="美術館/むぎちゃん大好き">むぎちゃん大好き</button>
<button type="button" class="sounds" data-file="美術館/ゆにおねえちゃんすこだ">ゆにおねえちゃんすこだ</button>
<br>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/おはようございなーす？">おはようございなーす？</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/おはようございなーす0001">おはようございなーす01</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/おはようございなーす0002">おはようございなーす02</button>
<button type="button" class="sounds" data-file="GW振り返り配信/おはようございなーす">おはようございなーす03</button>
<button type="button" class="sounds" data-file="GW振り返り配信/おはようございなーす02">おはようございなーす04</button>
<button type="button" class="sounds" data-file="GW振り返り配信/おはようございなーすいぇい">おはようございなーす05</button>
<button type="button" class="sounds" data-file="GW振り返り配信/おはようございなーすってね">おはようございなーす06</button>
<button type="button" class="sounds" data-file="GW振り返り配信/おはようございなーす囁き">おはようございなーす07</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/おはようございなーす01">おはようございなーす08</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/おはようございなーす02">おはようございなーす09</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/おはようございなーす03">おはようございなーす10</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/おはようございなーす01">おはようございなーす11</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/おはようございなーす02">おはようございなーす12</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/おはようございなーす03">おはようございなーす13</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/おはようございなーす04">おはようございなーす14</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/おはようございなーす05">おはようございなーす15</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/おはようございなーす06">おはようございなーす16</button>
<button type="button" class="sounds" data-file="美術館/おはようございなーす01">おはようございなーす17</button>
<button type="button" class="sounds" data-file="美術館/おはようございなーす02">おはようございなーす18</button>
<br>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/くぅー01">くぅー00</button>
<button type="button" class="sounds" data-file="GW振り返り配信/くぅー01">くぅー01</button>
<button type="button" class="sounds" data-file="GW振り返り配信/くぅー02">くぅー02</button>
<button type="button" class="sounds" data-file="GW振り返り配信/くぅー03">くぅー03</button>
<button type="button" class="sounds" data-file="GW振り返り配信/くぅー04">くぅー04</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/くぅー01">くぅー05</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/くぅー02">くぅー06</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/くぅー03">くぅー07</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/くぅー04">くぅー08</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー01">くぅー09</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー02">くぅー10</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー03">くぅー11</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー04">くぅー12</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー05">くぅー13</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー06">くぅー14</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー07">くぅー15</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー08">くぅー16</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー09">くぅー17</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー10">くぅー18</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー11">くぅー19</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー12">くぅー20</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー13">くぅー21</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー14">くぅー22</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー15">くぅー23</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー16">くぅー24</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー17">くぅー25</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー18">くぅー26</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー19">くぅー27</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー20">くぅー28</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー21">くぅー28.1</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー22">くぅー28.2</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー23">くぅー28.3</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー21">くぅー29</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー22">くぅー30</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/くぅー23">くぅー31</button>
<button type="button" class="sounds" data-file="美術館/くぅー01">くぅー32</button>
<button type="button" class="sounds" data-file="美術館/くぅー02">くぅー33</button>
<button type="button" class="sounds" data-file="美術館/くぅー03">くぅー34</button>
<button type="button" class="sounds" data-file="美術館/くぅー3回">くぅー35</button>


<hr style="margin: 1em 0 ;">
　　<b>ってね ふんふん つぎつぎ ややや</b><br>
<button type="button" class="sounds" data-file="GW振り返り配信/きいちゃんせんせえみてるか？">き～ちゃんせんせえみてるか？</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てねっ４">ってねってね</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ4回">ってねってねってね</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てねてねてーね">てねてねてーね</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てねてねてーね01">てねてねてーね01</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てーねー">てーねー</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ禁止？">ってね禁止？01</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ禁止？01">ってね禁止？02</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ禁止？02">ってね禁止？03</button>
<button type="button" class="sounds" data-file="美術館/ってねを禁止されてね">ってねを禁止されてね</button>
<br>
<button type="button" class="sounds" data-file="てね/てね01">ってね01</button>
<button type="button" class="sounds" data-file="てね/てね02">ってね02</button>
<button type="button" class="sounds" data-file="てね/てね03">ってね03</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/てねっ06">ってね04</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/てねっ07">ってね05</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/てねっ08">ってね06</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/てねっ09">ってね07</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/てねっ10">ってね08</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/てねっ11">ってね09</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てねっ01">ってね10</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てねっ02">ってね11</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てねっ03">ってね12</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てねっ04">ってね13</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てねっ05">ってね14</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てねっ06">ってね15</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てねっ07">ってね16</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てねっ08">ってね17</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てねっ09">ってね18</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てねっ10">ってね19</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てねっ11">ってね20</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てねっ12">ってね21</button>
<button type="button" class="sounds" data-file="GW振り返り配信/てねっ13">ってね22</button>
<br>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ01">ってね23</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ02">ってね24</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ03">ってね25</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ04">ってね26</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ05">ってね27</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ06">ってね28</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ07">ってね29</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ08">ってね30</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ09">ってね31</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ10">ってね32</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ11">ってね33</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ12">ってね34</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ13">ってね35</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ14">ってね36</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ15">ってね37</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ16">ってね38</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ17">ってね39</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ18">ってね40</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ19">ってね41</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ20">ってね42</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ21">ってね43</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ22">ってね44</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ23">ってね45</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ24">ってね46</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ25">ってね47</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/てねっ26">ってね48</button>
<br>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ってね01">ってね49</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ってね02">ってね50</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ってね03">ってね51</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ってね04">ってね52</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ってね05">ってね53</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ってね06">ってね54</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ってね07">ってね55</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ってね08">ってね56</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ってね09">ってね57</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ってね10">ってね58</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ってね11">ってね59</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ってね12">ってね60</button>
<br>
<button type="button" class="sounds" data-file="美術館/ってね01">ってね61</button>
<button type="button" class="sounds" data-file="美術館/ってね02">ってね62</button>
<button type="button" class="sounds" data-file="美術館/ってね03">ってね63</button>
<button type="button" class="sounds" data-file="美術館/ってね04">ってね64</button>
<button type="button" class="sounds" data-file="美術館/ってね05">ってね65</button>
<button type="button" class="sounds" data-file="美術館/ってね06">ってね66</button>
<button type="button" class="sounds" data-file="美術館/ってね07">ってね67</button>
<button type="button" class="sounds" data-file="美術館/ってね08">ってね68</button>
<button type="button" class="sounds" data-file="美術館/ってね09">ってね69</button>
<button type="button" class="sounds" data-file="美術館/ってね10">ってね70</button>
<button type="button" class="sounds" data-file="美術館/ってね11">ってね71</button>
<button type="button" class="sounds" data-file="美術館/ってね12">ってね72</button>
<button type="button" class="sounds" data-file="美術館/ってね13">ってね73</button>
<button type="button" class="sounds" data-file="美術館/ってね14">ってね74</button>
<button type="button" class="sounds" data-file="美術館/ってね15">ってね75</button>
<br>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/つーぎ">つーぎ♡</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/つぎつぎつーぎ">つぎつぎつーぎ</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/つぎつぎつーぎ02">つぎつぎつーぎ02</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/つぎつぎつーぎ03">つぎつぎつーぎ03</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/つぎつぎつーぎ04">つぎつぎつーぎ04</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/つぎつぎつーぎ05">つぎつぎつーぎ05</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/つぎつぎつーぎ06">つぎつぎつーぎ06</button>
<button type="button" class="sounds" data-file="GW振り返り配信/つぎつぎつーぎ01">つぎつぎつーぎ07</button>
<button type="button" class="sounds" data-file="GW振り返り配信/つぎつぎつーぎ02">つぎつぎつーぎ08</button>
<button type="button" class="sounds" data-file="GW振り返り配信/つぎつぎつーぎ03">つぎつぎつーぎ09</button>
<button type="button" class="sounds" data-file="GW振り返り配信/つぎつぎつーぎ04">つぎつぎつーぎ10</button>
<button type="button" class="sounds" data-file="GW振り返り配信/つぎつぎつーぎ05">つぎつぎつーぎ11</button>
<button type="button" class="sounds" data-file="GW振り返り配信/つぎつぎつーぎ06">つぎつぎつーぎ12</button>
<button type="button" class="sounds" data-file="GW振り返り配信/つぎつぎつーぎ07">つぎつぎつーぎ13</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/つぎつぎつーぎ">つぎつぎつーぎ14</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/つぎつぎつーぎ01">つぎつぎつーぎ15</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/つぎつぎつーぎ02">つぎつぎつーぎ16</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/つーぎ01">つーぎ</button>
<br>
<button type="button" class="sounds" data-file="GW振り返り配信/ややや01">ややや01</button>
<button type="button" class="sounds" data-file="GW振り返り配信/ややや02">ややや02</button>
<button type="button" class="sounds" data-file="GW振り返り配信/ややや03">ややや03</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/ややや01">ややや04</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/ややや02">ややや05</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/ややや03">ややや06</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ややや01">ややや07</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あややや01">ややや08</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あややや02">ややや09</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あややや03">ややや10</button>
<button type="button" class="sounds" data-file="美術館/あややや">ややや10</button>
<button type="button" class="sounds" data-file="美術館/あややや02">ややや11</button>
<br>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/ふんふん01">ふんふん01</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/ふんふん02">ふんふん02</button>
<button type="button" class="sounds" data-file="GW振り返り配信/うんうん">ふんふん03</button>
<button type="button" class="sounds" data-file="GW振り返り配信/ふんふん01">ふんふん04</button>
<button type="button" class="sounds" data-file="GW振り返り配信/ふんふん02">ふんふん05</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/ふんふん01">ふんふん06</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/ふんふん02">ふんふん07</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/ふんふん03">ふんふん08</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/ふんふん04">ふんふん09</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/ふんふん05">ふんふん10</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/ふんふん06">ふんふん11</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/ふんふん07">ふんふん12</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/ふんふん08">ふんふん13</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/ふんふん09">ふんふん14</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/ふんふん10">ふんふん15</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/ふんふん11">ふんふん16</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ふんふん01">ふんふん17</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ふんふん02">ふんふん18</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ふんふん03">ふんふん19</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ふんふん04">ふんふん20</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ふんふん05">ふんふん21</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ふんふん06">ふんふん22</button>
<button type="button" class="sounds" data-file="美術館/ふんふん01">ふんふん23</button>
<button type="button" class="sounds" data-file="美術館/ふんふん02">ふんふん24</button>
<button type="button" class="sounds" data-file="美術館/ふんふん03">ふんふん25</button>
<button type="button" class="sounds" data-file="美術館/ふんふん04">ふんふん26</button>

<hr style="margin: 1em 0 ;">
　　<b>がんばれ♡がんばれ♡</b><br>
<button type="button" class="sounds" data-file="てすと/だいすき">だいすき♡</button>
<button type="button" class="sounds" data-file="未定/ダーリン">ダーリン♡</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/ガチ恋許可は出してるじゃん">ガチ恋許可は出してるじゃん</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/名取はせんせえのコトが">名取はせんせえのコト</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/調子に乗ったらだめだぞ">調子に乗ったらだめだぞ</button>
<button type="button" class="sounds" data-file="せんせえとないしょばなし/がんばれ無理せずに">がんばれ無理せずに</button>
<button type="button" class="sounds" data-file="GW振り返り配信/頑張って無理しないで">頑張って無理しないで</button>
<br>
<button type="button" class="sounds" data-file="GW振り返り配信/辛かったら…">辛かったら…</button>
<button type="button" class="sounds" data-file="GW振り返り配信/ガチ恋好きにして">ガチ恋好きにして♡</button>
<button type="button" class="sounds" data-file="GW振り返り配信/なとりは近くに…">なとりは近くに…</button>
<button type="button" class="sounds" data-file="GW振り返り配信/名前くらい">名前くらい</button>
<br>
<button type="button" class="sounds" data-file="GW振り返り配信/学校辛い仕事辛い">学校辛い仕事辛い</button>
<button type="button" class="sounds" data-file="GW振り返り配信/休んじゃえばー？">休んじゃえばー？</button>
<button type="button" class="sounds" data-file="GW振り返り配信/おやすみー">おやすみー01</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/おやすみー02">おやすみー02</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/えらいね">えらいね</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/そうだね">そうだね♡</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/すこすこだぞ">すこすこだぞ</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/やめてよー">やめてよー</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/浮気はだめ">浮気はだめ</button>
<br>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/コショコショ">コショコショ</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/すこだからな">すこだからな</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/すこだぞ">すこだぞ</button>
<br>
<button type="button" class="sounds" data-file="GW振り返り配信/せんせえたちチョロすぎて">せんせえ達チョロすぎて</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/せんせえ達チョロすぎて心配になる">せんせえ達チョロすぎて心配になる</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ちょろいよね">ちょろいよね</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ちょろちょろ">ちょろっちょろ</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/ちょろい所も好き">ちょろい所も好き</button>
<br>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/私には良いけど">私には良いけど</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/名取とのお約束">名取とのお約束</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/目を閉じて">目を閉じて</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/聞こえてますかせんせえ">聞こえてますかせんせえ</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/大丈夫だね">大丈夫だね</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/おやすみなさい">おやすみなさい</button>
<br>
<button type="button" class="sounds" data-file="美術館/がんばれ 無理せずね">がんばれ 無理せずね</button>
<button type="button" class="sounds" data-file="美術館/がんばれがんばれ">がんばれがんばれ</button>
<button type="button" class="sounds" data-file="美術館/せんせえたちお疲れ様">せんせえたちお疲れ様</button>
<button type="button" class="sounds" data-file="美術館/せんせえ達すこだぞい">せんせえ達すこだぞい</button>
<button type="button" class="sounds" data-file="美術館/せんせえのコト愛してるぞい">せんせえのコト愛してるぞい</button>
<button type="button" class="sounds" data-file="美術館/仕事行ってらっしゃい">仕事行ってらっしゃい</button>
<br>
<button type="button" class="sounds" data-file="バイノーラルテスト配信/おはようボイス">おはようボイス</button>
<button type="button" class="sounds" data-file="バイノーラルテスト配信/ねっ、ちゅう、しよっ">ねっ、ちゅう、しよっ</button>
<button type="button" class="sounds" data-file="バイノーラルテスト配信/別にせんせえのコトなんか">別にせんせえのコトなんか</button>
<button type="button" class="sounds" data-file="バイノーラルテスト配信/暗くして聞いてね">暗くして聞いてね</button>

<hr style="margin: 1em 0 ;">
　　<b>笑い声 あいあい～</b><br>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声">笑い声00</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声01">笑い声01</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声02">笑い声02</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声03">笑い声03</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声04">笑い声04</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声05">笑い声05</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声06">笑い声06</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声07">笑い声07</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声08">笑い声08</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声09">笑い声09</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声10">笑い声10</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声11">笑い声11</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声12">笑い声12</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声13">笑い声13</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声14">笑い声14</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声15">笑い声15</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声16">笑い声16</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声17">笑い声17</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声18">笑い声18</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声19">笑い声19</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声20">笑い声20</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声21">笑い声21</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声22">笑い声22</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声23">笑い声23</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声24">笑い声24</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声25">笑い声25</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声26">笑い声26</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声27">笑い声27</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声28">笑い声28</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声29">笑い声29</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声30">笑い声30</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声31">笑い声31</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声32">笑い声32</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声33">笑い声33</button>
<button type="button" class="sounds" data-file="GW振り返り配信/笑い声34">笑い声34</button>
<br>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声01">笑い声35</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声02">笑い声36</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声03">笑い声37</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声04">笑い声38</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声05">笑い声39</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声06">笑い声40</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声07">笑い声41</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声08">笑い声42</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声09">笑い声43</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声10">笑い声44</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声11">笑い声45</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声12">笑い声46</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声13">笑い声47</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声14">笑い声48</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声15">笑い声49</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声16">笑い声50</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声17">笑い声51</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声18">笑い声52</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声19">笑い声53</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声20">笑い声54</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声21">笑い声55</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声22">笑い声56</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声23">笑い声57</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声24">笑い声58</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声25">笑い声59</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声26">笑い声60</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声27">笑い声61</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声28">笑い声62</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声29">笑い声63</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声30">笑い声64</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声31">笑い声65</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声32">笑い声66</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声33">笑い声67</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声34">笑い声68</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声35">笑い声69</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声36">笑い声70</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声37">笑い声71</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声38">笑い声72</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声39">笑い声73</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声40">笑い声74</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声41">笑い声75</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声42">笑い声76</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声43">笑い声77</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声44">笑い声78</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声45">笑い声79</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/笑い声46">笑い声80</button>
<br>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声01">笑い声81</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声02">笑い声82</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声03">笑い声83</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声04">笑い声84</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声05">笑い声85</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声06">笑い声86</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声07">笑い声87</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声08">笑い声88</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声09">笑い声89</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声10">笑い声90</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声11">笑い声91</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声12">笑い声92</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声13">笑い声93</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声14">笑い声94</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声15">笑い声95</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声16">笑い声96</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声17">笑い声97</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声18">笑い声98</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声19">笑い声99</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声20">笑い声100</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声21">笑い声101</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声22">笑い声102</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声23">笑い声103</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声24">笑い声104</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声25">笑い声105</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声26">笑い声106</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声27">笑い声107</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声28">笑い声108</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声29">笑い声109</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声30">笑い声110</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声31">笑い声111</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声32">笑い声112</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声33">笑い声113</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声34">笑い声114</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声35">笑い声115</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声36">笑い声116</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声37">笑い声117</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声38">笑い声118</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声39">笑い声119</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声40">笑い声120</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声41">笑い声121</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/笑い声42">笑い声122</button>
<button type="button" class="sounds" data-file="美術館/笑い声01">笑い声123</button>
<button type="button" class="sounds" data-file="美術館/笑い声02">笑い声124</button>
<button type="button" class="sounds" data-file="美術館/笑い声03">笑い声125</button>
<button type="button" class="sounds" data-file="美術館/笑い声04">笑い声126</button>
<button type="button" class="sounds" data-file="美術館/笑い声05">笑い声127</button>
<button type="button" class="sounds" data-file="美術館/笑い声06">笑い声128</button>
<button type="button" class="sounds" data-file="美術館/笑い声07">笑い声129</button>
<button type="button" class="sounds" data-file="美術館/笑い声08">笑い声130</button>
<button type="button" class="sounds" data-file="美術館/笑い声09">笑い声131</button>
<button type="button" class="sounds" data-file="美術館/笑い声10">笑い声132</button>
<button type="button" class="sounds" data-file="美術館/笑い声11">笑い声133</button>
<button type="button" class="sounds" data-file="美術館/笑い声12">笑い声134</button>
<button type="button" class="sounds" data-file="美術館/笑い声13">笑い声135</button>
<button type="button" class="sounds" data-file="美術館/笑い声14">笑い声136</button>
<button type="button" class="sounds" data-file="美術館/笑い声15">笑い声137</button>
<button type="button" class="sounds" data-file="美術館/笑い声16">笑い声138</button>
<button type="button" class="sounds" data-file="美術館/笑い声17">笑い声139</button>
<button type="button" class="sounds" data-file="美術館/笑い声18">笑い声140</button>
<button type="button" class="sounds" data-file="美術館/笑い声19">笑い声141</button>
<button type="button" class="sounds" data-file="美術館/笑い声20">笑い声142</button>
<button type="button" class="sounds" data-file="美術館/笑い声21">笑い声143</button>
<br><br>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい01">あいあい01</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい02">あいあい02</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい03">あいあい03</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい04">あいあい04</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい05">あいあい05</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい06">あいあい06</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい07">あいあい07</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい08">あいあい08</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい09">あいあい09</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい10">あいあい10</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい11">あいあい11</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい12">あいあい12</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい13">あいあい13</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい14">あいあい14</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい15">あいあい15</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい16">あいあい16</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい17">あいあい17</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい18">あいあい18</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい19">あいあい19</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい20">あいあい20</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい21">あいあい21</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい22">あいあい22</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい23">あいあい23</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい24">あいあい24</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい25">あいあい25</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい26">あいあい26</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい27">あいあい27</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい28">あいあい28</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい29">あいあい29</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい30">あいあい30</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい31">あいあい31</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい32">あいあい32</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい33">あいあい33</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい34">あいあい34</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい35">あいあい35</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい36">あいあい36</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい37">あいあい37</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい38">あいあい38</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい39">あいあい39</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい40">あいあい40</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい41">あいあい41</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい42">あいあい42</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい43">あいあい43</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい44">あいあい44</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい45">あいあい45</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい46">あいあい46</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい47">あいあい47</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい48">あいあい48</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい49">あいあい49</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい50">あいあい50</button>
<button type="button" class="sounds" data-file="看護の日…とは言ったものの/あいあい51">あいあい51</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい01">あいあい52</button>
<br>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい02">あいあい53</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい03">あいあい54</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい04">あいあい55</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい05">あいあい56</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい06">あいあい57</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい07">あいあい58</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい08">あいあい59</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい09">あいあい60</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい10">あいあい61</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい11">あいあい62</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい12">あいあい63</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい13">あいあい64</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい14">あいあい65</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい15">あいあい66</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい16">あいあい67</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい17">あいあい68</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい18">あいあい69</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい19">あいあい70</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい20">あいあい71</button>
<button type="button" class="sounds" data-file="名取と共に地獄に叩き落される/あいあい21">あいあい72</button>
<button type="button" class="sounds" data-file="美術館/あいあい01">あいあい73</button>
<button type="button" class="sounds" data-file="美術館/あいあい02">あいあい74</button>
<button type="button" class="sounds" data-file="美術館/あいあい03">あいあい75</button>
