<!doctype html>

<html lang="ja">
<head>
  <!-- most important -->
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description | strip_newlines }}">
  {% if (noindex == true) %}<meta name="robots" content="noindex">{% endif %}

  <!-- og;The Open Graph protocol -->
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description | strip_newlines }}">
  <meta property="og:locale" content="ja_JP" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.natorisana.love">
  <meta property="og:image" content="https://www.natorisana.love/images/thumbnail.png">
  <!-- og:Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@sanabutton2" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125646809-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-125646809-1');
  </script>

  <!-- favicon -->
  <meta name="msapplication-TileColor" content="#2d88ef">
  <meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
  <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="36x36" href="/favicon/android-chrome-36x36.png">
  <link rel="icon" type="image/png" sizes="48x48" href="/favicon/android-chrome-48x48.png">
  <link rel="icon" type="image/png" sizes="72x72" href="/favicon/android-chrome-72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/android-chrome-96x96.png">
  <link rel="icon" type="image/png" sizes="128x128" href="/favicon/android-chrome-128x128.png">
  <link rel="icon" type="image/png" sizes="144x144" href="/favicon/android-chrome-144x144.png">
  <link rel="icon" type="image/png" sizes="152x152" href="/favicon/android-chrome-152x152.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="256x256" href="/favicon/android-chrome-256x256.png">
  <link rel="icon" type="image/png" sizes="384x384" href="/favicon/android-chrome-384x384.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/favicon/android-chrome-512x512.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon.png">
  <link rel="icon" type="image/png" sizes="36x36" href="/favicon/icon-36x36.png">
  <link rel="icon" type="image/png" sizes="48x48" href="/favicon/icon-48x48.png">
  <link rel="icon" type="image/png" sizes="72x72" href="/favicon/icon-72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/icon-96x96.png">
  <link rel="icon" type="image/png" sizes="128x128" href="/favicon/icon-128x128.png">
  <link rel="icon" type="image/png" sizes="144x144" href="/favicon/icon-144x144.png">
  <link rel="icon" type="image/png" sizes="152x152" href="/favicon/icon-152x152.png">
  <link rel="icon" type="image/png" sizes="160x160" href="/favicon/icon-160x160.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/icon-192x192.png">
  <link rel="icon" type="image/png" sizes="196x196" href="/favicon/icon-196x196.png">
  <link rel="icon" type="image/png" sizes="256x256" href="/favicon/icon-256x256.png">
  <link rel="icon" type="image/png" sizes="384x384" href="/favicon/icon-384x384.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/favicon/icon-512x512.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/icon-16x16.png">
  <link rel="icon" type="image/png" sizes="24x24" href="/favicon/icon-24x24.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/icon-32x32.png">
  <link rel="manifest" href="/manifest.json">

  <!-- css -->
  <link href="/main.css" rel="stylesheet" type="text/css">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  <!-- scripts -->
  <script async src="https://unpkg.com/smoothscroll-polyfill@0.4.3/dist/smoothscroll.min.js"></script>
  <script async src="https://platform.twitter.com/widgets.js"></script>
</head>
<body>
{{ content }}
</body>
</html>
