name: Node CI

on:
  push:
    branches: ["main", "master", "development"]
  pull_request:
    branches: ["main", "master", "development"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v6
      - name: npm install, build, and test
        run: |
          npm cit
        env:
          CI: true
          NODE_ENV: test
